Repository nader-eloshaiker/screen-geometry-app: changes, and which Codecov flags are due for each by the changed paths.
All: web, server, lib-api, lib-ui

codecov.yaml:

coverage:
  status:
    project:
      default:
        informational: true
      web:
        informational: true
        flags:
          - web
      server:
        informational: true
        flags:
          - server
      lib-api:
        informational: true
        flags:
          - lib-api
      lib-ui:
        informational: true
        flags:
          - lib-ui
    patch:
      default:
        informational: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: []

flags:
  web:
    paths: #note, accepts globs, not regexes
      - apps/web/src/**/*.{ts,tsx}
    carryforward: false
  server:
    paths: #note, accepts globs, not regexes
      - apps/server/src/**/*.{ts,tsx}
    carryforward: true
  lib-api:
    paths: #note, accepts globs, not regexes
      - packages/lib-api/src/**/*.{ts,tsx}
    carryforward: true
  lib-ui:
    paths: #note, accepts globs, not regexes
      - packages/lib-ui/src/**/*.{ts,tsx}
    carryforward: true

fix(ops): add env to wrangler deployment for ci/cd actions
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

chore(ops): add env to wrangler deployment for ci/cd actions (#607)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

chore(main): release 4.4.2
  CHANGELOG.md
  package.json
Due: none

feat(pages): auto-generate sitemap
  apps/web/eslint.config.js
  apps/web/package.json
  apps/web/public/sitemap.xml
  apps/web/src/configs/sitemap.ts
  apps/web/src/configs/tanstack-router-sitemap/generate.ts
  apps/web/src/configs/tanstack-router-sitemap/index.ts
  apps/web/src/configs/tanstack-router-sitemap/sitemap-types.d.ts
  apps/web/vite.config.ts
  pnpm-lock.yaml
Due: web

fix(web): linting
  apps/web/src/app/stores/config/EnvConfig.testProvider.tsx
  apps/web/src/configs/sitemap.ts
Due: web

fix(web): ignore autogenerated sitemap from linter
  apps/web/.prettierrc
  apps/web/eslint.config.js
  apps/web/package.json
  apps/web/public/sitemap.xml
Due: none

fix(web): ignore autogenerated sitemap from linter
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(web): language switch icon color in light mode
  apps/web/src/app/components/language/LanguageSwitcher.tsx
Due: web

fix(web): language switcher restore flag size
  apps/web/src/app/components/language/LanguageSwitcher.tsx
  packages/lib-ui/src/components/button/ButtonVariants.tsx
Due: web, lib-ui

feat(web): auto-generate sitemap (#609)
  apps/web/.prettierrc
  apps/web/eslint.config.js
  apps/web/package.json
  apps/web/public/sitemap.xml
  apps/web/src/app/stores/config/EnvConfig.testProvider.tsx
  apps/web/src/configs/sitemap.ts
  apps/web/src/configs/tanstack-router-sitemap/generate.ts
  apps/web/src/configs/tanstack-router-sitemap/index.ts
  apps/web/src/configs/tanstack-router-sitemap/sitemap-types.d.ts
  apps/web/vite.config.ts
  packages/lib-ui/src/components/button/ButtonVariants.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: web, lib-ui

chore(main): release 4.5.0
  CHANGELOG.md
  package.json
Due: none

chore(main): release 4.5.0 (#608)
  CHANGELOG.md
  package.json
Due: none

feat(app): create a form button component
  apps/web/src/app/components/createbutton/CreateButton.test.tsx
  apps/web/src/app/components/createbutton/CreateButton.tsx
  apps/web/src/app/components/formbutton/FormButton.test.tsx
  apps/web/src/app/components/formbutton/FormButton.tsx
  apps/web/src/app/components/screen/form/ScreenForm.tsx
  apps/web/src/app/components/screen/form/ScreenFormDrawer.tsx
  apps/web/src/app/pages/Help.tsx
  apps/web/src/app/pages/Screens.tsx
Due: web

feat(app): migrate from yup to zod
  apps/web/package.json
  apps/web/src/app/components/screen/form/ScreenForm.tsx
  apps/web/src/app/components/screen/form/ScreenFormSchema.ts
  docs/Development.md
  packages/lib-ui/package.json
  packages/lib-ui/src/components/form/Form.stories.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: web, lib-ui

fix(app): sheet close button to show mouse pointer on hover
  apps/web/src/app/components/screen/form/ScreenForm.tsx
  docs/Development.md
  packages/lib-ui/src/components/sheet/Sheet.tsx
Due: web, lib-ui

fix(app): replaced yup with zod validator
  apps/web/src/app/components/screen/form/ScreenForm.tsx
  apps/web/src/app/components/screen/form/ScreenFormDrawer.tsx
  apps/web/src/app/components/screen/form/ScreenFormSchema.ts
  apps/web/src/app/pages/Help.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: web

fix(app): rename event vars
  apps/web/src/app/components/screen/form/ScreenForm.tsx
  apps/web/src/app/components/screen/form/ScreenFormDrawer.tsx
  apps/web/src/app/components/screen/screenselector/ScreenSelector.tsx
  apps/web/src/app/pages/Help.tsx
Due: web

feat(web): creat screen form uplift (#614)
  apps/web/package.json
  apps/web/src/app/components/createbutton/CreateButton.test.tsx
  apps/web/src/app/components/createbutton/CreateButton.tsx
  apps/web/src/app/components/formbutton/FormButton.test.tsx
  apps/web/src/app/components/formbutton/FormButton.tsx
  apps/web/src/app/components/screen/form/ScreenForm.tsx
  apps/web/src/app/components/screen/form/ScreenFormDrawer.tsx
  apps/web/src/app/components/screen/form/ScreenFormSchema.ts
  apps/web/src/app/components/screen/screenselector/ScreenSelector.tsx
  apps/web/src/app/pages/Help.tsx
  apps/web/src/app/pages/Screens.tsx
  docs/Development.md
  packages/lib-ui/package.json
  packages/lib-ui/src/components/form/Form.stories.tsx
  packages/lib-ui/src/components/sheet/Sheet.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: web, lib-ui

chore(main): release 4.6.0
  CHANGELOG.md
  package.json
Due: none

fix(app): update react and react-dom
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(main): release 4.6.0 (#615)
  CHANGELOG.md
  package.json
Due: none

fix(app): code coverage exclusions and validation badge
  README.md
  packages/lib-api/vite.config.ts
Due: none

fix(ops): remove deploy branches
  .github/workflows/task-build.yml
  apps/web/components.json
Due: none

fix(app): code coverage exclusions and validation badge (#630)
  .github/workflows/task-build.yml
  README.md
  apps/web/components.json
  packages/lib-api/vite.config.ts
Due: none

fix(ops): remove validation badge
  README.md
Due: none

fix(ops): remove validation badge (#632)
  README.md
Due: none

fix(ops): fix coverage exclusion typo
  packages/lib-api/vite.config.ts
Due: none

chore(main): release 4.6.1
  CHANGELOG.md
  package.json
Due: none

fix(test): update tests for new menu name
  apps/web/src/app/components/header/HeaderNavLarge.test.tsx
  apps/web/src/app/components/header/HeaderNavSmall.test.tsx
Due: web

fix(e2e): fix incorrect link to my screens
  apps/web/src/e2e/smoke.spec.ts
Due: web

feat(share): share function
  apps/web/public/locales/ar.json
  apps/web/public/locales/de.json
  apps/web/public/locales/el.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fa.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/it.json
  apps/web/public/locales/ja.json
  apps/web/public/locales/ko.json
  apps/web/public/locales/mk.json
  apps/web/public/locales/nl.json
  apps/web/public/locales/pt.json
  apps/web/public/locales/si.json
  apps/web/public/locales/ta.json
  apps/web/public/locales/zh.json
  apps/web/src/app/components/buttons/SaveShareButton.tsx
  apps/web/src/app/components/buttons/ShareButton.tsx
  apps/web/src/app/pages/MyScreensPage.tsx
  apps/web/src/app/pages/SharePage.tsx
Due: web

fix(sitemap): disable sitemap vite plugin
  apps/web/public/sitemap.xml
  apps/web/vite.config.ts
Due: none

fix(sitemap): update sitemap
  apps/web/public/sitemap.xml
Due: none

fix(tests): fix broken tests
  apps/web/src/app/components/screen/table/ScreenTable.test.tsx
Due: web

feat(web): implement page hooks
  apps/web/public/sitemap.xml
  apps/web/src/app/components/screen/form/ScreenForm.tsx
  apps/web/src/app/components/screen/form/ScreenFormDrawer.tsx
  apps/web/src/app/components/screen/form/hooks/useCreateHandler.tsx
  apps/web/src/app/components/screen/form/hooks/useUpdateHandler.tsx
  apps/web/src/app/components/screen/table/ScreenTable.test.tsx
  apps/web/src/app/pages/MyScreens/MyScreensPage.tsx
  apps/web/src/app/pages/MyScreens/hooks/useCreateListHandler.tsx
  apps/web/src/app/pages/MyScreens/hooks/useDeleteHandler.tsx
  apps/web/src/app/pages/MyScreens/hooks/useEditHandler.tsx
  apps/web/src/app/pages/MyScreens/hooks/useShareHandler.tsx
  apps/web/src/app/pages/MyScreens/hooks/useShowHandler.tsx
  apps/web/src/app/pages/MyScreens/hooks/useUpdateListHandler.tsx
  apps/web/src/app/routes/myscreens.lazy.tsx
Due: web

fix(tests): fix broken tests
  apps/web/src/app/components/screen/form/ScreenFormDrawer.test.tsx
  apps/web/src/app/routes/myscreens.lazy.tsx
Due: web

feat(share): predefined share pages
  apps/web/public/sitemap.xml
  apps/web/src/app/pages/SharePage.tsx
  apps/web/src/app/routes/share/16by9.lazy.tsx
  apps/web/src/app/routes/share/21by9.lazy.tsx
  apps/web/src/app/routes/share/32by9.lazy.tsx
  apps/web/src/app/routes/share/all.lazy.tsx
  apps/web/src/app/routes/share/index.lazy.tsx
  apps/web/src/app/routes/share/index.tsx
  apps/web/src/app/routetree/routeTree.gen.ts
Due: web

fix(table): data appearing twice after load
  apps/web/src/app/constants/defaultScreenList.ts
  apps/web/src/app/hooks/api/useCreateScreenListEffect.ts
  apps/web/src/app/pages/MyScreens/hooks/useCreateListHandler.tsx
Due: web
