Repository nader-eloshaiker/screen-geometry-app: changes, and which Codecov flags are due for each by the changed paths.
All: web, server, lib-api, lib-ui

codecov.yaml:

coverage:
  status:
    project:
      default:
        informational: true
      web:
        informational: true
        flags:
          - web
      server:
        informational: true
        flags:
          - server
      lib-api:
        informational: true
        flags:
          - lib-api
      lib-ui:
        informational: true
        flags:
          - lib-ui
    patch:
      default:
        informational: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: []

flags:
  web:
    paths: #note, accepts globs, not regexes
      - apps/web/src/**/*.{ts,tsx}
    carryforward: false
  server:
    paths: #note, accepts globs, not regexes
      - apps/server/src/**/*.{ts,tsx}
    carryforward: true
  lib-api:
    paths: #note, accepts globs, not regexes
      - packages/lib-api/src/**/*.{ts,tsx}
    carryforward: true
  lib-ui:
    paths: #note, accepts globs, not regexes
      - packages/lib-ui/src/**/*.{ts,tsx}
    carryforward: true

feat(web): tweak ui (#650)
  apps/web/public/mockServiceWorker.js
  apps/web/src/app/components/screen/panel/ScreenPanel.tsx
  apps/web/src/app/components/screen/table/ScreenTable.tsx
  apps/web/src/app/pages/Share/SharePage.tsx
  apps/web/src/app/routes/preset/16by9.lazy.tsx
  apps/web/src/app/routes/preset/32by9.lazy.tsx
  apps/web/src/app/routes/preset/gamer.lazy.tsx
  packages/lib-style/src/theme.css
  packages/lib-ui/src/components/navigationmenu/NavigationMenu.stories.tsx
Due: web, lib-ui

chore(main): release 5.0.0
  CHANGELOG.md
  package.json
Due: none

chore(main): release 5.0.0 (#631)
  CHANGELOG.md
  package.json
Due: none

fix(web): delete spinner not showing when busy
  apps/web/src/app/components/screen/table/ScreenTable.tsx
Due: web

fix(web): tailwind linting
  apps/web/src/app/components/stacked/Stacked.tsx
Due: web

fix(web): fix spinner visibility during busy state and linting issues (#651)
  apps/web/src/app/components/screen/table/ScreenTable.tsx
  apps/web/src/app/components/stacked/Stacked.tsx
Due: web

chore(main): release 5.0.1
  CHANGELOG.md
  package.json
Due: none

chore(main): release 5.0.1 (#652)
  CHANGELOG.md
  package.json
Due: none
