Repository nader-eloshaiker/screen-geometry-app: changes, and which Codecov flags are due for each by the changed paths.
All: web, server, lib-api, lib-ui

codecov.yaml:

coverage:
  status:
    project:
      default:
        informational: true
      web:
        informational: true
        flags:
          - web
      server:
        informational: true
        flags:
          - server
      lib-api:
        informational: true
        flags:
          - lib-api
      lib-ui:
        informational: true
        flags:
          - lib-ui
    patch:
      default:
        informational: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: []

flags:
  web:
    paths: #note, accepts globs, not regexes
      - apps/web/src/**/*.{ts,tsx}
    carryforward: false
  server:
    paths: #note, accepts globs, not regexes
      - apps/server/src/**/*.{ts,tsx}
    carryforward: true
  lib-api:
    paths: #note, accepts globs, not regexes
      - packages/lib-api/src/**/*.{ts,tsx}
    carryforward: true
  lib-ui:
    paths: #note, accepts globs, not regexes
      - packages/lib-ui/src/**/*.{ts,tsx}
    carryforward: true

fix(web): unit tests did not await when using waitFor
  apps/web/src/app/components/screen/form/ScreenFormDrawer.test.tsx
Due: web

fix(ui): failing tests using wait for screen form drawer (#569)
  apps/web/package.json
  apps/web/src/app/components/screen/form/ScreenForm.tsx
  apps/web/src/app/components/screen/form/ScreenFormDrawer.test.tsx
Due: web

chore(main): release 4.1.2
  CHANGELOG.md
  package.json
Due: none

chore(main): release 4.1.2 (#570)
  CHANGELOG.md
  package.json
Due: none

chore(web): abstract out DTOs into spec
  apps/server/src/api/api.ts
  apps/server/src/lib/utils/DataTransformation.ts
  apps/server/src/lib/utils/index.ts
  apps/web/src/app/components/screen/form/ScreenFormDrawer.test.tsx
  apps/web/src/app/components/screen/form/ScreenFormDrawer.tsx
  apps/web/src/app/components/screen/form/fields/ColorField.tsx
  apps/web/src/app/components/screen/form/fields/InputField.tsx
  apps/web/src/app/pages/Help.tsx
  apps/web/src/app/pages/Screens.tsx
  apps/web/src/lib/utils/ScreenCalc.ts
  apps/web/src/lib/utils/index.ts
  packages/lib-api/package.json
  packages/lib-api/src/extended/dtos/toScreenInput.test.ts
  packages/lib-api/src/extended/dtos/toScreenInput.ts
  packages/lib-api/src/extended/dtos/toScreenItem.test.ts
  packages/lib-api/src/extended/dtos/toScreenItem.ts
  packages/lib-api/src/extended/index.ts
  packages/lib-api/src/extended/models/Screen.ts
  packages/lib-api/src/internal/index.ts
  packages/lib-api/vite.config.ts
Due: web, server, lib-api

chore(app): remove seperate lint-staged execution
  .lintstagedrc.json
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/lib-api/package.json
  packages/lib-style/package.json
  packages/lib-ui/package.json
Due: none

chore(app): move duplicated utils into packages
  apps/server/src/api/api.ts
  apps/server/src/lib/utils/index.ts
  apps/server/src/server.ts
  apps/web/src/app/components/header/Header.tsx
  apps/web/src/app/components/screen/createbutton/CreateButton.tsx
  apps/web/src/app/components/screen/form/ScreenForm.tsx
  apps/web/src/app/components/screen/form/ScreenFormDrawer.test.tsx
  apps/web/src/app/components/screen/form/fields/ColorField.tsx
  apps/web/src/app/components/screen/form/fields/InputField.tsx
  apps/web/src/app/components/screen/panel/ScreenPanel.test.tsx
  apps/web/src/app/components/screen/panel/ScreenPanel.tsx
  apps/web/src/app/components/screen/screenselector/ScreenSelector.tsx
  apps/web/src/app/components/screen/table/ScreenTable.test.tsx
  apps/web/src/app/components/screen/table/ScreenTable.tsx
  apps/web/src/app/components/theme/ThemeToggle.tsx
  apps/web/src/app/hooks/screen/ScreenManager.ts
  apps/web/src/app/hooks/useDebounce.ts
  apps/web/src/app/hooks/useElementSize.ts
  apps/web/src/app/pages/Help.tsx
  apps/web/src/app/pages/Screens.tsx
  apps/web/src/app/utils/Color.ts
  apps/web/src/app/utils/Screen.ts
  apps/web/src/app/utils/index.ts
  apps/web/src/app/utils/toScreenItemRender.ts
  apps/web/src/lib/utils/ScreenCalc.ts
  apps/web/src/lib/utils/await-to-js.test.ts
  apps/web/src/lib/utils/await-to-js.ts
  apps/web/src/lib/utils/class-name.ts
  apps/web/src/lib/utils/index.ts
  apps/web/tsconfig.app.json
  packages/lib-api/src/extended/index.ts
  packages/lib-api/src/extended/utils/await-to-js.test.ts
  packages/lib-api/src/extended/utils/await-to-js.ts
  packages/lib-ui/package.json
  packages/lib-ui/src/components/select/SelectVariants.tsx
Due: web, server, lib-api, lib-ui

chore(app): update package lock
  pnpm-lock.yaml
Due: none

chore(app): restore lint script in root
  package.json
Due: none

feat(web): call public graphql for list of countries and languages
  apps/server/tsconfig.app.json
  apps/server/tsconfig.node.json
  apps/web/src/app/hooks/translation/EnvTranslation.tsx
  apps/web/src/app/hooks/translation/EnvTranslationContext.tsx
  apps/web/src/app/hooks/translation/EnvTranslationProvider.tsx
  apps/web/src/app/hooks/translation/LocaleHelper.ts
  apps/web/tsconfig.app.json
  apps/web/tsconfig.node.json
  packages/lib-api/codegen.ts
  packages/lib-api/package.json
  packages/lib-api/src/generated/countries/countries-service.ts
  packages/lib-api/src/generated/index.ts
  packages/lib-api/src/gql/countries/queryCounties.graphql
  packages/lib-api/src/gql/countries/schema.graphql
  packages/lib-api/tsconfig.app.json
  packages/lib-api/tsconfig.node.json
  packages/lib-style/tsconfig.app.json
  packages/lib-style/tsconfig.node.json
  packages/lib-ui/tsconfig.app.json
  packages/lib-ui/tsconfig.node.json
  pnpm-lock.yaml
Due: web, lib-api

feat(web): integrate country api with language switcher and translations
  apps/web/public/locales/ar.json
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fa.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/it.json
  apps/web/public/locales/ja.json
  apps/web/public/locales/ko.json
  apps/web/public/locales/pt.json
  apps/web/public/locales/si.json
  apps/web/public/locales/ta.json
  apps/web/public/locales/zh.json
  apps/web/src/app/App.tsx
  apps/web/src/app/components/language/LanguageSwitcher.tsx
  apps/web/src/app/components/screen/form/ScreenFormDrawer.test.tsx
  apps/web/src/app/components/screen/form/ScreenFormDrawer.tsx
  apps/web/src/app/hooks/country/CountryUtils.ts
  apps/web/src/app/hooks/country/EnvCountryContext.tsx
  apps/web/src/app/hooks/country/EnvCountryProvider.tsx
  apps/web/src/app/hooks/country/useEnvCountry.ts
  apps/web/src/app/hooks/translation/EnvTranslation.test.tsx
  apps/web/src/app/hooks/translation/EnvTranslation.tsx
  apps/web/src/app/hooks/translation/EnvTranslationContext.tsx
  apps/web/src/app/hooks/translation/EnvTranslationProvider.tsx
  apps/web/src/app/hooks/translation/LocaleHelper.ts
  apps/web/src/app/hooks/translation/TranslationsUtils.ts
  apps/web/src/app/hooks/useLocalStorage.ts
  apps/web/src/lib/support/test/utils/RenderWithEnvironment.tsx
  packages/lib-api/src/generated/countries/countries-service.ts
  packages/lib-api/src/gql/countries/queryCountries.graphql
  packages/lib-api/src/gql/countries/queryLanguages.graphql
  packages/lib-ui/src/components/navigationlink/NavigationLink.tsx
Due: web, lib-api, lib-ui

feat(api): mock graphql calls
  apps/server/package.json
  apps/server/src/server.ts
  apps/web/package.json
  apps/web/public/mockServiceWorker.js
  apps/web/src/app/App.tsx
  apps/web/src/app/components/language/LanguageSwitcher.tsx
  apps/web/src/app/components/screen/table/ScreenTable.test.tsx
  apps/web/src/app/hooks/config/EnvConfig.testProvider.tsx
  apps/web/src/app/hooks/config/EnvConfig.tsx
  apps/web/src/app/hooks/config/EnvConfigContext.tsx
  apps/web/src/app/hooks/config/EnvConfigProvider.tsx
  apps/web/src/app/hooks/country/EnvCountryProvider.tsx
  apps/web/src/app/hooks/session/EnvSession.tsx
  apps/web/src/app/hooks/session/EnvSessionProvider.tsx
  apps/web/src/app/hooks/translation/EnvTranslationProvider.tsx
  apps/web/src/app/routes/screens.lazy.tsx
  apps/web/src/lib/serviceworker/BrowserServiceWorker.ts
  apps/web/src/lib/support/test/utils/TestEnvironment.tsx
  apps/web/vite.config.ts
  packages/lib-api/codegen.ts
  packages/lib-api/package.json
  packages/lib-api/src/generated/countries/countries-client.mws.ts
  packages/lib-api/src/generated/countries/countries-client.ts
  packages/lib-api/src/generated/index.ts
  packages/lib-api/src/gql/countries/msw/queryCountries.msw.ts
  packages/lib-api/src/gql/countries/msw/queryLanguages.msw.ts
  packages/lib-api/src/gql/countries/query/queryCountries.graphql
  packages/lib-api/src/gql/countries/query/queryLanguages.graphql
  packages/lib-api/src/gql/countries/spec/schema.graphql
  packages/lib-api/src/gql/index.ts
  packages/lib-ui/src/components/pageloader/PageLoader.test.tsx
  packages/lib-ui/src/components/pageloader/PageLoaderContext.tsx
  packages/lib-ui/src/components/pageloader/PageLoaderProvider.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: web, server, lib-api, lib-ui

chore(main): release 4.2.0
  CHANGELOG.md
  package.json
Due: none

chore(main): release 4.2.0 (#575)
  CHANGELOG.md
  package.json
Due: none

feat(web): add more translations
  .github/workflows/task-test-designsystem.yml
  apps/web/public/locales/ar.json
  apps/web/public/locales/de.json
  apps/web/public/locales/el.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fa.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/it.json
  apps/web/public/locales/ja.json
  apps/web/public/locales/ko.json
  apps/web/public/locales/mk.json
  apps/web/public/locales/nl.json
  apps/web/public/locales/pt.json
  apps/web/public/locales/si.json
  apps/web/public/locales/ta.json
  apps/web/src/app/hooks/country/CountryUtils.ts
  package.json
Due: web

feat(web): add search to translations switcher
  apps/web/src/app/components/language/LanguageSwitcher.tsx
  apps/web/src/app/hooks/country/CountryUtils.test.ts
  apps/web/src/app/hooks/country/CountryUtils.ts
  apps/web/src/app/hooks/country/EnvCountryContext.tsx
  apps/web/src/app/hooks/country/EnvCountryProvider.tsx
  apps/web/src/app/hooks/translation/EnvTranslationContext.tsx
  apps/web/src/app/hooks/translation/EnvTranslationProvider.tsx
  apps/web/src/app/hooks/useLocalStorage.ts
  apps/web/src/lib/support/test/utils/TestEnvironment.tsx
  apps/web/src/lib/support/test/utils/TestTranslationsEnvironment.tsx
  packages/lib-api/src/generated/countries/countries-client.mws.ts
  packages/lib-api/src/generated/countries/countries-client.ts
  packages/lib-api/src/gql/countries/msw/queryCountries.msw.ts
  packages/lib-api/src/gql/countries/query/queryCountries.graphql
Due: web, lib-api

fix(web): type error in test
  apps/web/src/app/hooks/country/CountryUtils.test.ts
Due: web

feat(web): uplift switch (#576)
  .github/workflows/task-test-designsystem.yml
  apps/web/public/locales/ar.json
  apps/web/public/locales/de.json
  apps/web/public/locales/el.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fa.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/it.json
  apps/web/public/locales/ja.json
  apps/web/public/locales/ko.json
  apps/web/public/locales/mk.json
  apps/web/public/locales/nl.json
  apps/web/public/locales/pt.json
  apps/web/public/locales/si.json
  apps/web/public/locales/ta.json
  apps/web/src/app/components/language/LanguageSwitcher.tsx
  apps/web/src/app/hooks/country/CountryUtils.test.ts
  apps/web/src/app/hooks/country/CountryUtils.ts
  apps/web/src/app/hooks/country/EnvCountryContext.tsx
  apps/web/src/app/hooks/country/EnvCountryProvider.tsx
  apps/web/src/app/hooks/translation/EnvTranslationContext.tsx
  apps/web/src/app/hooks/translation/EnvTranslationProvider.tsx
  apps/web/src/app/hooks/useLocalStorage.ts
  apps/web/src/lib/support/test/utils/TestEnvironment.tsx
  apps/web/src/lib/support/test/utils/TestTranslationsEnvironment.tsx
  package.json
  packages/lib-api/src/generated/countries/countries-client.mws.ts
  packages/lib-api/src/generated/countries/countries-client.ts
  packages/lib-api/src/gql/countries/msw/queryCountries.msw.ts
  packages/lib-api/src/gql/countries/query/queryCountries.graphql
Due: web, lib-api

fix(ops): use pnpm install --no-frozen-lockfile
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/task-build.yml
  .github/workflows/task-lint.yml
  .github/workflows/task-test-component.yml
  .github/workflows/task-test-designsystem.yml
  .github/workflows/task-test-e2e.yml
  .github/workflows/task-test-unit.yml
Due: none

chore(ops): use pnpm install --no-frozen-lockfile (#578)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/task-build.yml
  .github/workflows/task-lint.yml
  .github/workflows/task-test-component.yml
  .github/workflows/task-test-designsystem.yml
  .github/workflows/task-test-e2e.yml
  .github/workflows/task-test-unit.yml
Due: none

fix(ops): use pnpm install --frozen-lockfile
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/task-build.yml
  .github/workflows/task-lint.yml
  .github/workflows/task-test-component.yml
  .github/workflows/task-test-designsystem.yml
  .github/workflows/task-test-e2e.yml
  .github/workflows/task-test-unit.yml
Due: none

chore(ops): switch pnpm install --no-frozen-lockfile to --frozen-lockfile (#579)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/task-build.yml
  .github/workflows/task-lint.yml
  .github/workflows/task-test-component.yml
  .github/workflows/task-test-designsystem.yml
  .github/workflows/task-test-e2e.yml
  .github/workflows/task-test-unit.yml
Due: none

chore(ui): pakage json dep to use catalog
  packages/lib-ui/package.json
Due: none

chore(ui): update package lock
  apps/web/package.json
  packages/lib-ui/package.json
  pnpm-lock.yaml
Due: none

chore(deps): fix catgalog
  packages/lib-api/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(deps): pnpm i warnings
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/lib-api/package.json
  packages/lib-style/package.json
  packages/lib-ui/package.json
  packages/spec-asset/package.json
  packages/spec-server/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

build(deps): bump typescript from 5.6.3 to 5.9.2
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

build(deps): bump typescript from 5.6.3 to 5.9.2 (#580)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(app): remove lib folder from apps and packages
  apps/server/src/api/api.test.ts
  apps/server/src/db/IndexedDB.test.ts
  apps/server/src/server.test.ts
  apps/server/src/serviceworker/NodeServiceWorker.ts
  apps/server/src/test/fixtures/ScreenFixtures.ts
  apps/server/src/test/fixtures/ScreenInputFixtures.ts
  apps/server/src/test/stubs/IndexedDBMigration.stub.ts
  apps/web/src/app/components/footer/Footer.test.tsx
  apps/web/src/app/components/header/Header.test.tsx
  apps/web/src/app/components/header/HeaderNavLarge.test.tsx
  apps/web/src/app/components/header/HeaderNavSmall.test.tsx
  apps/web/src/app/components/screen/alignment/AlignmentSelector.test.tsx
  apps/web/src/app/components/screen/createbutton/CreateButton.test.tsx
  apps/web/src/app/components/screen/form/ScreenFormDrawer.test.tsx
  apps/web/src/app/components/screen/panel/ScreenPanel.test.tsx
  apps/web/src/app/components/screen/table/ScreenTable.test.tsx
  apps/web/src/app/components/stacked/Stacked.test.tsx
  apps/web/src/app/components/theme/ThemeToggle.test.tsx
  apps/web/src/app/hooks/config/EnvConfig.testProvider.tsx
  apps/web/src/app/hooks/config/EnvConfigProvider.tsx
  apps/web/src/configs/vitest.setup.ts
  apps/web/src/e2e/smoke.spec.ts
  apps/web/src/serviceworker/BrowserServiceWorker.ts
  apps/web/src/serviceworker/NodeServiceWorker.ts
  apps/web/src/test/fixtures/ScreenFixtures.ts
  apps/web/src/test/mocks/mockMatchMedia.ts
  apps/web/src/test/mocks/useWindowsSize.tsx
  apps/web/src/test/utils/QueryTestOptions.ts
  apps/web/src/test/utils/RenderWithEnvironment.tsx
  apps/web/src/test/utils/RenderWithUserEvents.tsx
  apps/web/src/test/utils/TestEnvironment.tsx
  apps/web/src/test/utils/TestTranslationsEnvironment.tsx
  packages/lib-ui/src/components/input/input.test.tsx
  packages/lib-ui/src/components/skeleton/Skeleton.test.tsx
  packages/lib-ui/src/test/utils/RenderWithUserEvents.tsx
Due: web, server, lib-ui

fix(web): broken file references in mocks
  apps/web/src/app/components/header/Header.test.tsx
  apps/web/src/app/components/theme/ThemeToggle.test.tsx
Due: web

fix(web): translated table values
  apps/web/src/app/components/screen/table/ScreenTable.tsx
Due: web

fix(web): refactor playwright tests
  apps/web/playwright.config.ts
  apps/web/src/e2e/smoke.spec.ts
Due: web

fix(app): update ignore paths
  apps/server/vite.config.ts
  apps/web/vite.config.ts
Due: none
