Repository nader-eloshaiker/screen-geometry-app: changes, and which Codecov flags are due for each by the changed paths.
All: web, server, lib-api, lib-ui

fix(e2e): update tests to match new list
  apps/web/src/app/hooks/api/useApiEffect.ts
  apps/web/src/e2e/smoke.spec.ts
Due: web

feat(preset): add preset and share screens page
  apps/web/src/app/components/header/Menu.ts
  apps/web/src/app/components/language/LanguageSwitcher.tsx
  apps/web/src/app/constants/defaultScreenList.ts
  apps/web/src/app/hooks/api/useApiEffect.ts
  apps/web/src/app/hooks/api/useCreateScreenListEffect.ts
  apps/web/src/app/pages/HomePage.tsx
  apps/web/src/app/routes/__root.tsx
  apps/web/src/app/routes/preset/16by9.lazy.tsx
  apps/web/src/app/routes/preset/21by9.lazy.tsx
  apps/web/src/app/routes/preset/32by9.lazy.tsx
  apps/web/src/app/routes/preset/gamer.lazy.tsx
  apps/web/src/app/routes/preset/index.tsx
  apps/web/src/app/routes/preset/popular.lazy.tsx
  apps/web/src/app/routes/preset/pro.lazy.tsx
  apps/web/src/app/routes/share.lazy.tsx
  apps/web/src/app/routes/share.tsx
  apps/web/src/app/routes/share/16by9.lazy.tsx
  apps/web/src/app/routes/share/21by9.lazy.tsx
  apps/web/src/app/routes/share/32by9.lazy.tsx
  apps/web/src/app/routes/share/all.lazy.tsx
  apps/web/src/app/routetree/routeTree.gen.ts
  apps/web/src/e2e/smoke.spec.ts
  packages/lib-ui/package.json
  packages/lib-ui/src/components/navigationmenu/index.ts
  pnpm-lock.yaml
Due: web, lib-ui

feat(menu): switch large nav menu to shadcn menunav
  apps/web/src/app/components/header/HeaderNavLarge.tsx
  apps/web/src/app/components/screen/form/ScreenFormDrawer.tsx
  apps/web/src/app/components/screen/screenselector/ScreenSelector.tsx
  packages/lib-style/src/theme.css
  packages/lib-ui/src/components/command/Command.tsx
  packages/lib-ui/src/components/navigationlink/NavigationLink.tsx
  packages/lib-ui/src/components/navigationmenu/NavigationMenu.tsx
Due: web, lib-ui

feat(ui): implement navigation menu
  apps/web/src/app/components/header/Header.tsx
  apps/web/src/app/components/header/HeaderNavLarge.test.tsx
  apps/web/src/app/components/header/HeaderNavLarge.tsx
  apps/web/src/app/components/header/HeaderNavSmall.tsx
  apps/web/src/app/components/header/Menu.ts
  apps/web/src/app/components/screen/form/ScreenFormDrawer.tsx
  apps/web/src/app/stores/translation/EnvTranslationProvider.tsx
  apps/web/src/app/stores/translation/TranslationUtils.ts
  packages/lib-ui/package.json
  packages/lib-ui/src/components/collapsible/Collapsible.stories.tsx
  packages/lib-ui/src/components/collapsible/Collapsilble.tsx
  packages/lib-ui/src/components/collapsible/index.ts
Due: web, lib-ui

feat(ui): add storybook for collapsible
  packages/lib-ui/src/components/collapsible/Collapsible.stories.tsx
Due: lib-ui

fix(test): repair tests
  apps/web/src/app/components/header/Header.test.tsx
  apps/web/src/app/components/header/HeaderNavSmall.test.tsx
  apps/web/src/app/components/screen/form/ScreenFormDrawer.test.tsx
Due: web

fix(web): file name
  apps/web/src/app/stores/translation/TranslateMessage.tsx
  apps/web/src/app/stores/translation/TranslationStore.ts
  apps/web/src/app/stores/translation/TranslationTypes.ts
  apps/web/src/app/stores/translation/index.ts
  apps/web/src/app/stores/translation/useTranslate.ts
Due: web

feat(web): add content to help screen
  apps/web/public/locales/ar.json
  apps/web/public/locales/de.json
  apps/web/public/locales/el.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fa.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/it.json
  apps/web/public/locales/ja.json
  apps/web/public/locales/ko.json
  apps/web/public/locales/mk.json
  apps/web/public/locales/nl.json
  apps/web/public/locales/pt.json
  apps/web/public/locales/si.json
  apps/web/public/locales/ta.json
  apps/web/public/locales/zh.json
  apps/web/src/app/pages/HelpPage.tsx
  apps/web/src/app/pages/HomePage.tsx
  apps/web/src/app/stores/translation/TranslationStore.ts
Due: web

feat(web): remove styled-components and simplify action handlers
  apps/web/package.json
  apps/web/src/app/components/screen/panel/ScreenPanel.tsx
  apps/web/src/app/components/screen/table/ScreenTable.test.tsx
  apps/web/src/app/components/screen/table/ScreenTable.tsx
  apps/web/src/app/components/stacked/Stacked.test.tsx
  apps/web/src/app/components/stacked/Stacked.tsx
  apps/web/src/app/pages/HelpPage.tsx
  apps/web/src/app/pages/MyScreens/MyScreensPage.tsx
  apps/web/src/app/pages/MyScreens/hooks/useCreateListHandler.tsx
  apps/web/src/app/pages/MyScreens/hooks/useDeleteHandler.tsx
  apps/web/src/app/pages/MyScreens/hooks/useFormOpenHandler.tsx
  apps/web/src/app/pages/MyScreens/hooks/useShareHandler.tsx
  apps/web/src/app/pages/MyScreens/hooks/useShowHandler.tsx
  apps/web/src/app/pages/MyScreens/hooks/useUpdateListHandler.tsx
  apps/web/src/app/pages/SharePage.tsx
  pnpm-lock.yaml
Due: web

fix(web): remove tooltip on alignment selector
  apps/web/src/app/components/screen/alignment/AlignmentSelector.tsx
  packages/lib-ui/package.json
  packages/lib-ui/src/components/toggle/Toggle.variants.tsx
  pnpm-lock.yaml
Due: web, lib-ui

fix(web): add bottom border render for table
  apps/web/src/app/components/screen/table/ScreenTable.tsx
  packages/lib-ui/src/components/table/Table.tsx
Due: web, lib-ui

fix(web): better state management for translate hook
  apps/web/src/app/stores/translation/useTranslate.ts
Due: web

fix(web): reduce delay time for mock server
  apps/server/src/server.ts
Due: server

fix(test): add stub for mutation
  apps/web/src/app/components/screen/table/ScreenTable.test.tsx
Due: web

feat(web): event management clearn up
  apps/server/src/db/SearchDocuments.ts
  apps/web/src/app/components/screen/form/ScreenForm.tsx
  apps/web/src/app/components/screen/form/hooks/useCreateHandler.tsx
  apps/web/src/app/components/screen/form/hooks/useUpdateHandler.tsx
  apps/web/src/app/components/screen/table/ScreenTable.test.tsx
  apps/web/src/app/components/screen/table/ScreenTable.tsx
  apps/web/src/app/constants/defaultScreenList.ts
  apps/web/src/app/hooks/api/useApiEffect.ts
  apps/web/src/app/hooks/api/useCreateScreenEffect.ts
  apps/web/src/app/hooks/api/useCreateScreenListEffect.ts
  apps/web/src/app/hooks/api/useDeleteScreenEffect.ts
  apps/web/src/app/hooks/api/useShowScreenEffect.ts
  apps/web/src/app/hooks/api/useUpdateScreenEffect.ts
  apps/web/src/app/hooks/api/useUpdateScreenListEffect.ts
  apps/web/src/app/pages/MyScreens/MyScreensPage.tsx
  apps/web/src/app/pages/MyScreens/hooks/useCreateListHandler.tsx
  apps/web/src/app/pages/MyScreens/hooks/useDeleteHandler.tsx
  apps/web/src/app/pages/MyScreens/hooks/useShareHandler.tsx
  apps/web/src/app/pages/MyScreens/hooks/useShowHandler.tsx
  apps/web/src/app/pages/MyScreens/hooks/useUpdateListHandler.tsx
  apps/web/src/app/pages/Share/SharePage.tsx
  apps/web/src/app/pages/Share/hooks/useShareHandler.tsx
  apps/web/src/app/routes/preset/16by9.lazy.tsx
  apps/web/src/app/routes/preset/21by9.lazy.tsx
  apps/web/src/app/routes/preset/32by9.lazy.tsx
  apps/web/src/app/routes/preset/gamer.lazy.tsx
  apps/web/src/app/routes/preset/popular.lazy.tsx
  apps/web/src/app/routes/preset/pro.lazy.tsx
  apps/web/src/app/routes/share.lazy.tsx
Due: web, server

feat(server): upgrade search data
  apps/server/src/db/DbConstants.ts
  apps/server/src/db/IndexedDB.ts
  apps/server/src/db/SearchDocuments.ts
  apps/server/src/db/migration/v2-v4.ts
  apps/server/src/db/migration/v3-v4.ts
Due: server

feat(server): better migreation process and test
  apps/server/src/db/IndexedDB.test.ts
  apps/server/src/db/IndexedDB.ts
  apps/server/src/db/migration/v2-v3.ts
  apps/server/src/test/stubs/IndexedDBMigration.stub.ts
Due: server

feat(web): fix tests
  apps/server/src/api/api.test.ts
  apps/web/src/app/components/header/HeaderNavSmall.test.tsx
Due: web, server

feat(server): update search list
  apps/server/src/db/SearchDocuments.test.ts
  apps/server/src/db/SearchDocuments.ts
Due: server

fix(build): package-lock
  packages/lib-ui/src/components/navigationmenu/NavigationMenu.tsx
  pnpm-lock.yaml
Due: lib-ui

fix(web): flaky test
  apps/web/src/app/components/screen/table/ScreenTable.test.tsx
Due: web

feat(web): add translated content into tags within string
  apps/web/public/locales/ar.json
  apps/web/public/locales/de.json
  apps/web/public/locales/el.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fa.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/it.json
  apps/web/public/locales/ja.json
  apps/web/public/locales/ko.json
  apps/web/public/locales/mk.json
  apps/web/public/locales/nl.json
  apps/web/public/locales/pt.json
  apps/web/public/locales/si.json
  apps/web/public/locales/ta.json
  apps/web/public/locales/zh.json
  apps/web/src/app/pages/HomePage.tsx
Due: web

feat(build): update PR title validation
  .github/workflows/validation-pr.yaml
Due: none

fix(ui): remove storybook tests
  packages/lib-ui/src/components/collapsible/Collapsible.stories.tsx
Due: lib-ui

fix(ui): tests (#646)
  packages/lib-ui/src/components/collapsible/Collapsible.stories.tsx
Due: lib-ui

fix(build): new lock file
  pnpm-lock.yaml
Due: none

fix(build): new lock file
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat(web): remove framer-motion
  apps/web/package.json
  apps/web/src/app/assets/icons/Refresh.tsx
  apps/web/src/configs/vitest.setup.ts
  apps/web/src/e2e/smoke.spec.ts
  pnpm-lock.yaml
Due: web

feat(web): remove framer-motion (#648)
  apps/web/package.json
  apps/web/src/app/assets/icons/Refresh.tsx
  apps/web/src/configs/vitest.setup.ts
  apps/web/src/e2e/smoke.spec.ts
  pnpm-lock.yaml
Due: web

feat(build): update playwright image
  .github/workflows/task-test-component.yml
  .github/workflows/task-test-e2e.yml
Due: none

feat(build): update playwright dep
  apps/web/package.json
  pnpm-lock.yaml
Due: none

feat(ui): update storybook
  package.json
  packages/lib-ui/.storybook/main.ts
  packages/lib-ui/package.json
  pnpm-lock.yaml
Due: none

feat(ui): update storybook (#649)
  package.json
  packages/lib-ui/.storybook/main.ts
  packages/lib-ui/package.json
  pnpm-lock.yaml
Due: none

feat(web): adjust ui
  apps/web/src/app/components/screen/panel/ScreenPanel.tsx
  apps/web/src/app/components/screen/table/ScreenTable.tsx
  apps/web/src/app/pages/Share/SharePage.tsx
  apps/web/src/app/routes/preset/16by9.lazy.tsx
  apps/web/src/app/routes/preset/32by9.lazy.tsx
  apps/web/src/app/routes/preset/gamer.lazy.tsx
  packages/lib-style/src/theme.css
  packages/lib-ui/src/components/navigationmenu/NavigationMenu.stories.tsx
Due: web, lib-ui

feat(web): update msw
  apps/web/public/mockServiceWorker.js
Due: none

Path conditions:
  web: any of: apps/web/src/**/*.{ts,tsx}
  server: any of: apps/server/src/**/*.{ts,tsx}
  lib-api: any of: packages/lib-api/src/**/*.{ts,tsx}
  lib-ui: any of: packages/lib-ui/src/**/*.{ts,tsx}
