Repository nader-eloshaiker/screen-geometry-app: changes, and which Codecov flags are due for each by the changed paths.
All: web, server, lib-api, lib-ui

chore(main): release 3.2.2
  CHANGELOG.md
  package.json
Due: none

chore(main): release 3.2.2 (#535)
  CHANGELOG.md
  package.json
Due: none

feat(web): add initial translation implementation
  apps/web/package.json
  apps/web/public/locales/en.json
  apps/web/src/app/App.tsx
  apps/web/src/app/components/envconfig/EnvironmentConfig.test.tsx
  apps/web/src/app/components/envconfig/EnvironmentConfig.tsx
  apps/web/src/app/components/envtranslations/BrowserLocales.ts
  apps/web/src/app/components/envtranslations/EnvironmentTranslations.test.tsx
  apps/web/src/app/components/envtranslations/EnvironmentTranslations.tsx
  apps/web/src/app/components/envtranslations/keys.json
  apps/web/src/app/pages/Home.tsx
  pnpm-lock.yaml
Due: web

feat(web): add initial translation implementation
  packages/lib-api/orval.asset.config.ts
  packages/lib-api/package.json
  packages/lib-api/src/generated/asset/models/index.ts
  packages/lib-api/src/generated/asset/models/translations.ts
  packages/lib-api/src/generated/asset/services/translations/translations.msw.ts
  packages/lib-api/src/generated/asset/services/translations/translations.ts
  packages/lib-api/src/generated/index.ts
  packages/spec-asset/src/index.yml
  packages/spec-asset/src/schemas/Config.yml
  packages/spec-asset/src/schemas/Translations.yml
  packages/spec-asset/src/schemas/_index.yml
  pnpm-lock.yaml
Due: lib-api

feat(web): fix tests
  apps/web/src/app/App.tsx
  apps/web/src/app/components/envconfig/EnvironmentConfig.test.tsx
  apps/web/src/app/components/envconfig/EnvironmentConfig.tsx
  apps/web/src/app/components/envtranslations/EnvironmentTranslations.tsx
Due: web

add remaining translations
  apps/web/src/app/App.tsx
  apps/web/src/app/components/envconfig/EnvironmentConfig.tsx
  apps/web/src/app/components/envsession/EnvironmentSession.tsx
  apps/web/src/app/components/envtranslations/EnvironmentTranslations.tsx
  apps/web/src/app/components/footer/Footer.tsx
  apps/web/src/app/components/header/Header.tsx
  apps/web/src/app/components/header/HeaderNavLarge.tsx
  apps/web/src/app/components/header/HeaderNavSmall.tsx
  apps/web/src/app/components/screen/alignment/AlignmentSelector.tsx
  apps/web/src/app/components/screen/createbutton/CreateButton.tsx
  apps/web/src/app/components/screen/form/ScreenForm.tsx
  apps/web/src/app/components/screen/form/ScreenFormDrawer.tsx
  apps/web/src/app/components/screen/screenselector/ScreenSelector.tsx
  apps/web/src/app/components/screen/table/ScreenTable.tsx
  apps/web/src/app/components/theme/ThemeToggle.tsx
  apps/web/src/app/hooks/envconfig/EnvConfigContext.tsx
  apps/web/src/app/hooks/envsession/useEnvSession.ts
  apps/web/src/app/pages/Contact.tsx
  apps/web/src/app/pages/ErrorFallback.tsx
  apps/web/src/app/pages/Help.tsx
  apps/web/src/app/pages/Home.tsx
  apps/web/src/app/pages/NotFound.tsx
  apps/web/src/app/pages/Screens.tsx
  apps/web/src/app/routes/screens.lazy.tsx
  apps/web/src/lib/support/test/utils/RenderWithEnvironment.tsx
  apps/web/src/lib/support/test/utils/RenderWithRouter.tsx
  apps/web/src/lib/support/test/utils/TestEnvironment.tsx
  apps/web/src/lib/support/test/utils/TestRoutingComponent.tsx
  apps/web/src/lib/support/test/utils/TestTranslationsEnvironment.tsx
  packages/lib-ui/src/components/pageloader/PageLoader.tsx
  packages/lib-ui/src/hooks/pageloader/PageLoaderProvider.tsx
Due: web, lib-ui

fix tests
  apps/web/src/app/components/envconfig/EnvironmentConfig.test.tsx
  apps/web/src/app/components/envtranslations/EnvironmentTranslations.test.tsx
  apps/web/src/app/components/footer/Footer.test.tsx
  apps/web/src/app/components/header/Header.test.tsx
  apps/web/src/app/components/header/HeaderNavLarge.test.tsx
  apps/web/src/app/components/header/HeaderNavSmall.test.tsx
  apps/web/src/app/components/screen/alignment/AlignmentSelector.test.tsx
  apps/web/src/app/components/screen/createbutton/CreateButton.test.tsx
  apps/web/src/app/components/screen/form/ScreenFormDrawer.test.tsx
  apps/web/src/app/components/screen/table/ScreenTable.test.tsx
  apps/web/src/app/components/theme/ThemeToggle.test.tsx
  packages/lib-ui/src/hooks/pageloader/PageLoader.test.tsx
Due: web, lib-ui

remove translation for ppi
  apps/web/src/app/components/screen/table/ScreenTable.tsx
Due: web

add language switcher
  apps/server/src/types/index.d.ts
  apps/web/package.json
  apps/web/public/locales/ar.json
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/it.json
  apps/web/public/locales/jp.json
  apps/web/public/locales/zh.json
  apps/web/src/app/components/envtranslations/BrowserLocales.ts
  apps/web/src/app/components/envtranslations/EnvironmentTranslations.tsx
  apps/web/src/app/components/envtranslations/LocaleHelper.ts
  apps/web/src/app/components/envtranslations/keys.json
  apps/web/src/app/components/footer/Footer.tsx
  apps/web/src/app/components/header/HeaderNavLarge.test.tsx
  apps/web/src/app/components/header/HeaderNavSmall.test.tsx
  apps/web/src/app/components/language/LanguageSwitcher.tsx
  apps/web/src/app/components/screen/createbutton/CreateButton.tsx
  apps/web/src/app/components/screen/form/ScreenForm.tsx
  apps/web/src/app/components/screen/form/ScreenFormDrawer.tsx
  apps/web/src/app/hooks/envconfig/EnvConfigProvider.tsx
  apps/web/src/app/hooks/envsession/EnvSessionProvider.tsx
  apps/web/src/app/hooks/envtranslate/EnvTranslateContext.tsx
  apps/web/src/app/hooks/envtranslate/EnvTranslateProvider.tsx
  apps/web/src/app/hooks/envtranslate/useEnvTranslate.ts
  apps/web/src/app/hooks/query/QueryProvider.tsx
  apps/web/src/app/hooks/screen/ScreenProvider.tsx
  apps/web/src/app/hooks/theme/ThemeProvider.tsx
  apps/web/src/app/pages/Help.tsx
  apps/web/src/app/pages/Home.tsx
  apps/web/src/types/index.d.ts
  packages/lib-api/src/axios/apiClient.ts
  packages/lib-ui/src/components/navigationlink/NavigationLink.tsx
  packages/lib-ui/src/hooks/pageloader/PageLoaderContext.tsx
  packages/lib-ui/src/hooks/pageloader/PageLoaderProvider.tsx
  packages/lib-ui/src/types/types.ts
Due: web, server, lib-api, lib-ui

style language switcher
  apps/web/public/locales/ja.json
  apps/web/src/app/components/footer/Footer.tsx
  apps/web/src/app/components/language/LanguageSwitcher.tsx
Due: web

update design system select component
  packages/lib-ui/package.json
  packages/lib-ui/src/components/select/Select.stories.tsx
  packages/lib-ui/src/components/select/Select.tsx
  packages/lib-ui/src/components/select/Select.variants.tsx
  packages/lib-ui/src/components/select/index.ts
Due: lib-ui

persist language selection
  apps/web/public/locales/de.json
  apps/web/src/app/components/envtranslations/EnvironmentTranslations.tsx
  apps/web/src/app/components/language/LanguageSwitcher.tsx
  apps/web/src/app/hooks/useLocalStorage.ts
Due: web

add rtl support
  apps/web/public/locales/ar.json
  apps/web/public/locales/de.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/it.json
  apps/web/public/locales/ja.json
  apps/web/public/locales/zh.json
  apps/web/src/app/components/envtranslations/EnvironmentTranslations.tsx
  apps/web/src/app/components/envtranslations/LocaleHelper.ts
  apps/web/src/app/components/envtranslations/keys.json
  apps/web/src/app/components/header/Header.test.tsx
  apps/web/src/app/components/header/Header.tsx
  apps/web/src/app/components/language/LanguageSwitcher.tsx
  apps/web/src/app/components/screen/form/ScreenForm.tsx
  apps/web/src/app/components/screen/form/ScreenFormDrawer.tsx
  apps/web/src/app/components/screen/form/fields/ColorField.tsx
  apps/web/src/app/pages/Help.tsx
  apps/web/src/app/pages/Home.tsx
  apps/web/src/app/pages/Screens.tsx
  packages/lib-ui/package.json
  packages/lib-ui/src/components/direction/DirectionProvider.tsx
  pnpm-lock.yaml
Due: web, lib-ui

add remaining translations and translate numbers
  apps/web/public/locales/ar-SA.json
  apps/web/public/locales/de-DE.json
  apps/web/public/locales/en-US.json
  apps/web/public/locales/es-ES.json
  apps/web/public/locales/fa-IR.json
  apps/web/public/locales/fr-FR.json
  apps/web/public/locales/it-IT.json
  apps/web/public/locales/ja-JP.json
  apps/web/public/locales/zh-CN.json
  apps/web/src/app/components/envtranslations/EnvironmentTranslations.tsx
  apps/web/src/app/components/envtranslations/LocaleHelper.ts
  apps/web/src/app/components/footer/Footer.tsx
  apps/web/src/app/components/language/LanguageSwitcher.tsx
  apps/web/src/app/components/screen/table/ScreenTable.tsx
  apps/web/src/app/hooks/api/helpers/useCreateScreenApi.ts
  apps/web/src/app/hooks/api/helpers/useCreateScreenListApi.ts
  apps/web/src/app/hooks/api/helpers/useDeleteScreenApi.ts
  apps/web/src/app/hooks/api/helpers/useShowScreenApi.ts
  apps/web/src/app/hooks/api/helpers/useUpdateScreenApi.ts
Due: web

add more languages
  apps/web/public/locales/hi-IN.json
  apps/web/public/locales/ko-KR.json
  apps/web/public/locales/pt-PT.json
  apps/web/public/locales/si-LK.json
  apps/web/public/locales/ta-IN.json
  apps/web/src/app/components/envtranslations/LocaleHelper.ts
Due: web

add translations for panel hover
  apps/web/src/app/components/screen/panel/ScreenPanel.tsx
Due: web

fix unit tests
  apps/web/src/app/components/envtranslations/EnvironmentTranslations.test.tsx
  apps/web/src/app/components/screen/panel/ScreenPanel.test.tsx
  packages/lib-ui/package.json
  pnpm-lock.yaml
Due: web

fix build
  packages/lib-ui/src/hooks/pageloader/PageLoaderContext.tsx
Due: lib-ui

fix e2e
  apps/web/src/lib/e2e/smoke.spec.ts
Due: web

chore(main): release 4.0.0
  CHANGELOG.md
  package.json
Due: none

refactor api effects and move environment components into hooks
  apps/web/src/app/App.tsx
  apps/web/src/app/components/header/Header.tsx
  apps/web/src/app/components/language/LanguageSwitcher.tsx
  apps/web/src/app/components/screen/form/ScreenForm.tsx
  apps/web/src/app/components/screen/form/ScreenFormDrawer.tsx
  apps/web/src/app/components/screen/table/ScreenTable.test.tsx
  apps/web/src/app/hooks/api/helpers/useGetScreenApi.ts
  apps/web/src/app/hooks/api/helpers/useGetScreenListApi.ts
  apps/web/src/app/hooks/api/helpers/useSearchApi.ts
  apps/web/src/app/hooks/apiEffects/useApiEffect.ts
  apps/web/src/app/hooks/apiEffects/useCreateScreenEffect.ts
  apps/web/src/app/hooks/apiEffects/useCreateScreenListEffect.ts
  apps/web/src/app/hooks/apiEffects/useDeleteScreenEffect.ts
  apps/web/src/app/hooks/apiEffects/useGetScreensListEffect.ts
  apps/web/src/app/hooks/apiEffects/useShowScreenEffect.ts
  apps/web/src/app/hooks/apiEffects/useUpdateScreenEffect.ts
  apps/web/src/app/hooks/envconfig/EnvironmentConfig.test.tsx
  apps/web/src/app/hooks/envconfig/EnvironmentConfig.tsx
  apps/web/src/app/hooks/envsession/EnvSession.tsx
  apps/web/src/app/hooks/envtranslate/EnvTranslations.test.tsx
  apps/web/src/app/hooks/envtranslate/EnvTranslations.tsx
  apps/web/src/app/hooks/envtranslate/LocaleHelper.ts
  apps/web/src/app/hooks/envtranslate/keys.json
  apps/web/src/app/pages/Screens.tsx
  apps/web/src/app/routes/screens.lazy.tsx
  apps/web/src/lib/support/test/utils/RenderWithEnvironment.tsx
  apps/web/src/lib/support/test/utils/TestEnvironment.tsx
Due: web

adjust translation file naming
  apps/web/package.json
  apps/web/src/app/App.tsx
  apps/web/src/app/components/language/LanguageSwitcher.tsx
  apps/web/src/app/components/screen/form/ScreenFormDrawer.tsx
  apps/web/src/app/hooks/envTranslation/EnvTranslation.test.tsx
  apps/web/src/app/hooks/envTranslation/EnvTranslation.tsx
  apps/web/src/app/hooks/envTranslation/EnvTranslationContext.tsx
  apps/web/src/app/hooks/envTranslation/EnvTranslationProvider.tsx
  apps/web/src/app/hooks/envTranslation/LocaleHelper.ts
  apps/web/src/app/hooks/envTranslation/keys.json
  apps/web/src/app/hooks/envTranslation/useEnvTranslate.ts
  apps/web/src/app/hooks/envtranslate/EnvTranslateContext.tsx
  apps/web/src/app/hooks/envtranslate/EnvTranslateProvider.tsx
  apps/web/src/lib/support/test/utils/RenderWithEnvironment.tsx
Due: web

rename hook folders
  apps/web/src/app/App.tsx
  apps/web/src/app/components/header/Header.tsx
  apps/web/src/app/components/language/LanguageSwitcher.tsx
  apps/web/src/app/components/screen/form/ScreenForm.tsx
  apps/web/src/app/components/screen/form/ScreenFormDrawer.tsx
  apps/web/src/app/components/screen/table/ScreenTable.test.tsx
  apps/web/src/app/hooks/api/useApiEffect.ts
  apps/web/src/app/hooks/api/useCreateScreenEffect.ts
  apps/web/src/app/hooks/api/useCreateScreenListEffect.ts
  apps/web/src/app/hooks/api/useDeleteScreenEffect.ts
  apps/web/src/app/hooks/api/useGetScreensListEffect.ts
  apps/web/src/app/hooks/api/useShowScreenEffect.ts
  apps/web/src/app/hooks/api/useUpdateScreenEffect.ts
  apps/web/src/app/hooks/config/EnvConfig.test.tsx
  apps/web/src/app/hooks/config/EnvConfig.tsx
  apps/web/src/app/hooks/config/EnvConfigContext.tsx
  apps/web/src/app/hooks/config/EnvConfigProvider.tsx
  apps/web/src/app/hooks/config/useEnvConfig.ts
  apps/web/src/app/hooks/session/EnvSession.tsx
  apps/web/src/app/hooks/session/EnvSessionContext.tsx
  apps/web/src/app/hooks/session/EnvSessionProvider.tsx
  apps/web/src/app/hooks/session/EnvSessionTokenMock.ts
  apps/web/src/app/hooks/session/useEnvSession.ts
  apps/web/src/app/hooks/translation/EnvTranslation.test.tsx
  apps/web/src/app/hooks/translation/EnvTranslation.tsx
  apps/web/src/app/hooks/translation/EnvTranslationContext.tsx
  apps/web/src/app/hooks/translation/EnvTranslationProvider.tsx
  apps/web/src/app/hooks/translation/LocaleHelper.ts
  apps/web/src/app/hooks/translation/keys.json
  apps/web/src/app/hooks/translation/useEnvTranslate.ts
  apps/web/src/app/pages/Screens.tsx
  apps/web/src/app/routes/screens.lazy.tsx
  apps/web/src/lib/support/test/utils/RenderWithEnvironment.tsx
  apps/web/src/lib/support/test/utils/TestEnvironment.tsx
Due: web

chore(web): refactor api handlers (#544)
  apps/web/package.json
  apps/web/src/app/App.tsx
  apps/web/src/app/components/header/Header.tsx
  apps/web/src/app/components/language/LanguageSwitcher.tsx
  apps/web/src/app/components/screen/form/ScreenForm.tsx
  apps/web/src/app/components/screen/form/ScreenFormDrawer.tsx
  apps/web/src/app/components/screen/table/ScreenTable.test.tsx
  apps/web/src/app/hooks/api/helpers/useGetScreenApi.ts
  apps/web/src/app/hooks/api/helpers/useGetScreenListApi.ts
  apps/web/src/app/hooks/api/helpers/useSearchApi.ts
  apps/web/src/app/hooks/api/useApiEffect.ts
  apps/web/src/app/hooks/api/useCreateScreenEffect.ts
  apps/web/src/app/hooks/api/useCreateScreenListEffect.ts
  apps/web/src/app/hooks/api/useDeleteScreenEffect.ts
  apps/web/src/app/hooks/api/useGetScreensListEffect.ts
  apps/web/src/app/hooks/api/useShowScreenEffect.ts
  apps/web/src/app/hooks/api/useUpdateScreenEffect.ts
  apps/web/src/app/hooks/config/EnvConfig.test.tsx
  apps/web/src/app/hooks/config/EnvConfig.tsx
  apps/web/src/app/hooks/config/EnvConfigContext.tsx
  apps/web/src/app/hooks/config/EnvConfigProvider.tsx
  apps/web/src/app/hooks/config/useEnvConfig.ts
  apps/web/src/app/hooks/envtranslate/EnvTranslateContext.tsx
  apps/web/src/app/hooks/envtranslate/EnvTranslateProvider.tsx
  apps/web/src/app/hooks/session/EnvSession.tsx
  apps/web/src/app/hooks/session/EnvSessionContext.tsx
  apps/web/src/app/hooks/session/EnvSessionProvider.tsx
  apps/web/src/app/hooks/session/EnvSessionTokenMock.ts
  apps/web/src/app/hooks/session/useEnvSession.ts
  apps/web/src/app/hooks/translation/EnvTranslation.test.tsx
  apps/web/src/app/hooks/translation/EnvTranslation.tsx
  apps/web/src/app/hooks/translation/EnvTranslationContext.tsx
  apps/web/src/app/hooks/translation/EnvTranslationProvider.tsx
  apps/web/src/app/hooks/translation/LocaleHelper.ts
  apps/web/src/app/hooks/translation/keys.json
  apps/web/src/app/hooks/translation/useEnvTranslate.ts
  apps/web/src/app/pages/Screens.tsx
  apps/web/src/app/routes/screens.lazy.tsx
  apps/web/src/lib/support/test/utils/RenderWithEnvironment.tsx
  apps/web/src/lib/support/test/utils/TestEnvironment.tsx
Due: web

chore(main): release 4.0.0 (#543)
  CHANGELOG.md
  package.json
Due: none

fix(web): remove prod reference in heading
  apps/web/src/app/components/header/Header.tsx
Due: web

fix(web): title in prod
  apps/web/src/app/components/header/Header.test.tsx
  apps/web/src/app/components/header/Header.tsx
Due: web

fix(web): prod heading (#545)
  apps/web/src/app/components/header/Header.test.tsx
  apps/web/src/app/components/header/Header.tsx
Due: web

chore(main): release 4.0.1
  CHANGELOG.md
  package.json
Due: none

chore(main): release 4.0.1 (#546)
  CHANGELOG.md
  package.json
Due: none

chore(lib-ui): upgrade storybook to 9.1.1
  apps/web/package.json
  package.json
  packages/lib-ui/.storybook/main.ts
  packages/lib-ui/.storybook/preview.tsx
  packages/lib-ui/package.json
  packages/lib-ui/src/components/alert/Alert.stories.tsx
  packages/lib-ui/src/components/button/Button.stories.tsx
  packages/lib-ui/src/components/card/Card.stories.tsx
  packages/lib-ui/src/components/checkbox/Checkbox.stories.tsx
  packages/lib-ui/src/components/combobox/Combobox.stories.tsx
  packages/lib-ui/src/components/command/Command.stories.tsx
  packages/lib-ui/src/components/dialog/Dialog.stories.tsx
  packages/lib-ui/src/components/drawer/Drawer.stories.tsx
  packages/lib-ui/src/components/form/Form.stories.tsx
  packages/lib-ui/src/components/input/Input.stories.tsx
  packages/lib-ui/src/components/label/Label.stories.tsx
  packages/lib-ui/src/components/popover/Popover.stories.tsx
  packages/lib-ui/src/components/select/Select.stories.tsx
  packages/lib-ui/src/components/separator/Separator.stories.tsx
  packages/lib-ui/src/components/sheet/Sheet.stories.tsx
  packages/lib-ui/src/components/skeleton/Skeleton.stories.tsx
  packages/lib-ui/src/components/table/Table.stories.tsx
  packages/lib-ui/src/components/toaster/Toast.stories.tsx
  packages/lib-ui/src/components/toggle/Toggle.stories.tsx
  packages/lib-ui/src/components/togglegroup/ToggleGroup.stories.tsx
  packages/lib-ui/src/components/tooltip/Tooltip.stories.tsx
  pnpm-lock.yaml
Due: lib-ui

chore(repo): upgrade types/node to 24.2.0
  apps/server/package.json
  apps/web/package.json
  packages/lib-api/package.json
  packages/lib-style/package.json
  packages/lib-ui/package.json
  pnpm-lock.yaml
Due: none

chore(repo): upgrade jsdom to 26.1.0
  apps/server/package.json
  apps/web/package.json
  apps/web/src/app/components/screen/form/ScreenFormDrawer.test.tsx
  apps/web/src/lib/support/test/utils/TestTranslationsEnvironment.tsx
  packages/lib-api/package.json
  packages/lib-style/package.json
  packages/lib-ui/package.json
  pnpm-lock.yaml
Due: web

chore(ui): update storybook to 9.1.1 (#550)
  apps/server/package.json
  apps/web/package.json
  apps/web/src/app/components/screen/form/ScreenFormDrawer.test.tsx
  apps/web/src/lib/support/test/utils/TestTranslationsEnvironment.tsx
  package.json
  packages/lib-api/package.json
  packages/lib-style/package.json
  packages/lib-ui/.storybook/main.ts
  packages/lib-ui/.storybook/preview.tsx
  packages/lib-ui/package.json
  packages/lib-ui/src/components/alert/Alert.stories.tsx
  packages/lib-ui/src/components/button/Button.stories.tsx
  packages/lib-ui/src/components/card/Card.stories.tsx
  packages/lib-ui/src/components/checkbox/Checkbox.stories.tsx
  packages/lib-ui/src/components/combobox/Combobox.stories.tsx
  packages/lib-ui/src/components/command/Command.stories.tsx
  packages/lib-ui/src/components/dialog/Dialog.stories.tsx
  packages/lib-ui/src/components/drawer/Drawer.stories.tsx
  packages/lib-ui/src/components/form/Form.stories.tsx
  packages/lib-ui/src/components/input/Input.stories.tsx
  packages/lib-ui/src/components/label/Label.stories.tsx
  packages/lib-ui/src/components/popover/Popover.stories.tsx
  packages/lib-ui/src/components/select/Select.stories.tsx
  packages/lib-ui/src/components/separator/Separator.stories.tsx
  packages/lib-ui/src/components/sheet/Sheet.stories.tsx
  packages/lib-ui/src/components/skeleton/Skeleton.stories.tsx
  packages/lib-ui/src/components/table/Table.stories.tsx
  packages/lib-ui/src/components/toaster/Toast.stories.tsx
  packages/lib-ui/src/components/toggle/Toggle.stories.tsx
  packages/lib-ui/src/components/togglegroup/ToggleGroup.stories.tsx
  packages/lib-ui/src/components/tooltip/Tooltip.stories.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: web, lib-ui

upgrade react to v19.1
  apps/server/package.json
  apps/web/package.json
  apps/web/src/app/components/screen/form/ScreenFormDrawer.test.tsx
  apps/web/src/app/components/screen/screenselector/ScreenSelector.tsx
  apps/web/src/app/components/screen/table/ScreenTable.test.tsx
  apps/web/src/app/pages/Help.tsx
  apps/web/src/app/pages/Screens.tsx
  apps/web/src/lib/ui/hooks/useDebounce.ts
  apps/web/src/lib/ui/hooks/useElementSize.mock.ts
  apps/web/src/lib/ui/hooks/useElementSize.ts
  packages/lib-api/package.json
  packages/lib-style/package.json
  packages/lib-ui/package.json
  packages/lib-ui/src/components/input/Input.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: web, lib-ui

simplify translation mock
  apps/web/src/lib/support/test/utils/TestTranslationsEnvironment.tsx
Due: web

remove eslint importer and switched tailwind linter to supported prettier plugin
  apps/server/eslint.config.js
  apps/server/package.json
  apps/web/eslint.config.js
  apps/web/package.json
  packages/lib-api/eslint.config.js
  packages/lib-api/package.json
  packages/lib-style/eslint.config.js
  packages/lib-style/package.json
  packages/lib-ui/eslint.config.js
  packages/lib-ui/package.json
  pnpm-lock.yaml
Due: none

uplift eslint
  .vscode/settings.json
  apps/server/eslint.config.js
  apps/server/package.json
  apps/web/eslint.config.js
  apps/web/package.json
  package.json
  packages/lib-api/eslint.config.js
  packages/lib-api/package.json
  packages/lib-style/eslint.config.js
  packages/lib-style/package.json
  packages/lib-ui/eslint.config.js
  packages/lib-ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

preparing for tailwind upgrade
  apps/web/package.json
  packages/lib-style/package.json
  packages/lib-ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Path conditions:
  web: any of: apps/web/src/**/*.{ts,tsx}
  server: any of: apps/server/src/**/*.{ts,tsx}
  lib-api: any of: packages/lib-api/src/**/*.{ts,tsx}
  lib-ui: any of: packages/lib-ui/src/**/*.{ts,tsx}
