Repository nader-eloshaiker/screen-geometry-app: changes, and which Codecov flags are due for each by the changed paths.
All: web, server, lib-api, lib-ui

fix(ops): build command for chromatic
  .github/workflows/task-test-designsystem.yml
  apps/web/package.json
  package.json
  packages/lib-ui/package.json
  pnpm-lock.yaml
Due: none

fix(ui): create a new palette for navigation and adjust secondary
  apps/web/src/app/components/header/HeaderNavLarge.tsx
  packages/lib-style/src/theme.css
  packages/lib-ui/src/components/button/Button.stories.tsx
  packages/lib-ui/src/components/button/ButtonVariants.tsx
Due: web, lib-ui

fix(ui): fix test
  apps/web/src/app/components/header/HeaderNavLarge.test.tsx
Due: web

fix(ui): set outputDir in chromatic action
  .github/workflows/task-test-designsystem.yml
Due: none

fix(ui): add pagnination component
  packages/lib-ui/package.json
  packages/lib-ui/src/components/pagination/Pagination.stories.tsx
  packages/lib-ui/src/components/pagination/Pagination.tsx
  packages/lib-ui/src/components/pagination/index.ts
Due: lib-ui

fix(ui): adjust styling on pagination
  packages/lib-ui/src/components/pagination/Pagination.stories.tsx
  packages/lib-ui/src/components/pagination/Pagination.tsx
Due: lib-ui

fix(ui): fix checkout depth on chromatic test
  .github/workflows/task-test-designsystem.yml
Due: none

fix(ui): add navigation link storybook
  packages/lib-ui/src/components/navigationlink/NavigationLink.stories.tsx
Due: lib-ui

fix(ui): set storybook static folder
  .github/workflows/task-test-designsystem.yml
Due: none

fix(ui): small change in ui to trigger chromatic
  packages/lib-ui/src/components/navigationlink/NavigationLink.stories.tsx
Due: lib-ui

fix(ui): small change in ui to trigger chromatic
  .github/workflows/task-test-designsystem.yml
  package.json
  packages/lib-ui/package.json
  packages/lib-ui/src/components/pagination/Pagination.stories.tsx
Due: lib-ui

fix(ui): small change in ui to trigger chromatic
  packages/lib-ui/src/components/select/Select.stories.tsx
Due: lib-ui

fix(ops): build command for chromatic (#582)
  .github/workflows/task-test-designsystem.yml
  apps/web/package.json
  apps/web/src/app/components/header/HeaderNavLarge.test.tsx
  apps/web/src/app/components/header/HeaderNavLarge.tsx
  package.json
  packages/lib-style/src/theme.css
  packages/lib-ui/package.json
  packages/lib-ui/src/components/button/Button.stories.tsx
  packages/lib-ui/src/components/button/ButtonVariants.tsx
  packages/lib-ui/src/components/navigationlink/NavigationLink.stories.tsx
  packages/lib-ui/src/components/pagination/Pagination.stories.tsx
  packages/lib-ui/src/components/pagination/Pagination.tsx
  packages/lib-ui/src/components/pagination/index.ts
  packages/lib-ui/src/components/select/Select.stories.tsx
  pnpm-lock.yaml
Due: web, lib-ui

fix(ui): add alert dialog to storybook
  apps/web/package.json
  packages/lib-ui/package.json
  packages/lib-ui/src/components/alertdialog/AlertDialog.stories.tsx
  packages/lib-ui/src/components/alertdialog/AlertDialog.tsx
  packages/lib-ui/src/components/alertdialog/index.ts
  packages/lib-ui/src/components/navigationlink/NavigationLink.stories.tsx
  packages/lib-ui/src/components/pagination/Pagination.stories.tsx
  pnpm-lock.yaml
Due: lib-ui

fix(ui): add chromatic cli
  packages/lib-ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(ui): small change in ui to trigger chromatic
  packages/lib-ui/src/components/alertdialog/AlertDialog.stories.tsx
Due: lib-ui

fix(ui): small change in ui to trigger chromatic
  .github/workflows/task-test-designsystem.yml
  packages/lib-ui/src/components/alertdialog/AlertDialog.stories.tsx
  packages/lib-ui/src/components/navigationlink/NavigationLink.stories.tsx
  packages/lib-ui/src/components/togglegroup/ToggleGroup.stories.tsx
Due: lib-ui

fix(ui): small change in ui to trigger chromatic
  .github/workflows/task-test-designsystem.yml
Due: none

fix(ui): small change in ui to trigger chromatic
  packages/lib-ui/src/components/tooltip/Tooltip.stories.tsx
Due: lib-ui

fix(ui): validate chromatic by add more components to storybook (#583)
  .github/workflows/task-test-designsystem.yml
  apps/web/package.json
  packages/lib-ui/package.json
  packages/lib-ui/src/components/alertdialog/AlertDialog.stories.tsx
  packages/lib-ui/src/components/alertdialog/AlertDialog.tsx
  packages/lib-ui/src/components/alertdialog/index.ts
  packages/lib-ui/src/components/navigationlink/NavigationLink.stories.tsx
  packages/lib-ui/src/components/pagination/Pagination.stories.tsx
  packages/lib-ui/src/components/togglegroup/ToggleGroup.stories.tsx
  packages/lib-ui/src/components/tooltip/Tooltip.stories.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lib-ui

fix(ui): small change in ui to trigger chromatic
  packages/lib-ui/src/components/alertdialog/AlertDialog.stories.tsx
  packages/lib-ui/src/components/navigationlink/NavigationLink.stories.tsx
  packages/lib-ui/src/components/togglegroup/ToggleGroup.stories.tsx
Due: lib-ui

fix(ui): storybook build script
  .github/workflows/ci.yml
Due: none

fix(ui): small change in ui to trigger chromatic (#584)
  .github/workflows/ci.yml
  packages/lib-ui/src/components/alertdialog/AlertDialog.stories.tsx
  packages/lib-ui/src/components/navigationlink/NavigationLink.stories.tsx
  packages/lib-ui/src/components/togglegroup/ToggleGroup.stories.tsx
Due: lib-ui

chore(main): release 4.3.0
  CHANGELOG.md
  package.json
Due: none

chore(main): release 4.3.0 (#577)
  CHANGELOG.md
  package.json
Due: none

feat(web): improve seo
  apps/web/index.html
  apps/web/package.json
  apps/web/public/locales/ar.json
  apps/web/public/locales/de.json
  apps/web/public/locales/el.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fa.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/it.json
  apps/web/public/locales/ja.json
  apps/web/public/locales/ko.json
  apps/web/public/locales/mk.json
  apps/web/public/locales/nl.json
  apps/web/src/app/App.tsx
  apps/web/src/app/components/screen/table/ScreenTable.test.tsx
  apps/web/src/app/pages/Contact.tsx
  apps/web/src/app/pages/ErrorFallback.tsx
  apps/web/src/app/pages/Help.tsx
  apps/web/src/app/pages/Home.tsx
  apps/web/src/app/pages/NotFound.tsx
  apps/web/src/app/pages/Screens.tsx
  apps/web/src/app/router/AppRouterProvider.tsx
  apps/web/src/app/routes/contact.lazy.tsx
  apps/web/src/app/routes/help.lazy.tsx
  apps/web/src/app/routes/index.lazy.tsx
  apps/web/src/app/routes/screens.lazy.tsx
  apps/web/src/app/stores/router/AppRouterProvider.tsx
  apps/web/src/index.tsx
Due: web

feat(app): update package lock
  pnpm-lock.yaml
Due: none

feat(web): improve seo (#591)
  apps/web/index.html
  apps/web/package.json
  apps/web/public/locales/ar.json
  apps/web/public/locales/de.json
  apps/web/public/locales/el.json
  apps/web/public/locales/en.json
  apps/web/public/locales/es.json
  apps/web/public/locales/fa.json
  apps/web/public/locales/fr.json
  apps/web/public/locales/hi.json
  apps/web/public/locales/it.json
  apps/web/public/locales/ja.json
  apps/web/public/locales/ko.json
  apps/web/public/locales/mk.json
  apps/web/public/locales/nl.json
  apps/web/src/app/App.tsx
  apps/web/src/app/components/screen/table/ScreenTable.test.tsx
  apps/web/src/app/pages/Contact.tsx
  apps/web/src/app/pages/ErrorFallback.tsx
  apps/web/src/app/pages/Help.tsx
  apps/web/src/app/pages/Home.tsx
  apps/web/src/app/pages/NotFound.tsx
  apps/web/src/app/pages/Screens.tsx
  apps/web/src/app/router/AppRouterProvider.tsx
  apps/web/src/app/routes/contact.lazy.tsx
  apps/web/src/app/routes/help.lazy.tsx
  apps/web/src/app/routes/index.lazy.tsx
  apps/web/src/app/routes/screens.lazy.tsx
  apps/web/src/app/stores/router/AppRouterProvider.tsx
  apps/web/src/index.tsx
  pnpm-lock.yaml
Due: web

chore(main): release 4.4.0
  CHANGELOG.md
  package.json
Due: none

chore(main): release 4.4.0 (#592)
  CHANGELOG.md
  package.json
Due: none

fix(web): update sitemap to use correct case for path
  apps/web/public/sitemap.xml
Due: none

fix(web): update sitemap to use correct case for path (#593)
  apps/web/public/sitemap.xml
Due: none

chore(main): release 4.4.1
  CHANGELOG.md
  package.json
Due: none

build(deps-dev): bump @graphql-codegen/cli to 6.0.0 and @graphql-codegen/schema-ast to 5.0.0
  packages/lib-api/package.json
  pnpm-lock.yaml
Due: none

build(deps-dev): bump @graphql-codegen/cli to 6.0.0 and @graphql-code… (#597)
  packages/lib-api/package.json
  pnpm-lock.yaml
Due: none

build(deps-dev): bump axios to 1.12.1
  apps/web/package.json
  packages/lib-api/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(main): release 4.4.1 (#594)
  CHANGELOG.md
  package.json
Due: none

chore(app): switch from @vitejs/plugin-react to @vitejs/plugin-react-swc
  apps/server/package.json
  apps/server/vite.config.ts
  apps/web/package.json
  apps/web/vite.config.ts
  packages/lib-api/package.json
  packages/lib-api/vite.config.ts
  packages/lib-ui/package.json
  packages/lib-ui/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(app): switch from @vitejs/plugin-react to @vitejs/plugin-react-swc (#599)
  apps/server/package.json
  apps/server/vite.config.ts
  apps/web/package.json
  apps/web/vite.config.ts
  packages/lib-api/package.json
  packages/lib-api/vite.config.ts
  packages/lib-ui/package.json
  packages/lib-ui/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(ops): add env to wrangler deployment
  .github/workflows/task-build.yml
Due: none

Path conditions:
  web: any of: apps/web/src/**/*.{ts,tsx}
  server: any of: apps/server/src/**/*.{ts,tsx}
  lib-api: any of: packages/lib-api/src/**/*.{ts,tsx}
  lib-ui: any of: packages/lib-ui/src/**/*.{ts,tsx}
