Repository nader-eloshaiker/screen-geometry-app: changes, and which Codecov flags are due for each by the changed paths.
All: web, server, lib-api, lib-ui

codecov.yaml:

coverage:
  status:
    project:
      default:
        informational: true
      web:
        informational: true
        flags:
          - web
      server:
        informational: true
        flags:
          - server
      lib-api:
        informational: true
        flags:
          - lib-api
      lib-ui:
        informational: true
        flags:
          - lib-ui
    patch:
      default:
        informational: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: []

flags:
  web:
    paths: #note, accepts globs, not regexes
      - apps/web/src/**/*.{ts,tsx}
    carryforward: false
  server:
    paths: #note, accepts globs, not regexes
      - apps/server/src/**/*.{ts,tsx}
    carryforward: true
  lib-api:
    paths: #note, accepts globs, not regexes
      - packages/lib-api/src/**/*.{ts,tsx}
    carryforward: true
  lib-ui:
    paths: #note, accepts globs, not regexes
      - packages/lib-ui/src/**/*.{ts,tsx}
    carryforward: true

add tests to page loader
  packages/lib-ui/src/hooks/pageloader/PageLoader.test.tsx
Due: lib-ui

add config generation in pipelines
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/task-build.yml
  apps/web/package.json
Due: none

fix config generation in pipelines
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/task-build.yml
Due: none

adjust json generation
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/task-build.yml
Due: none

more adjust json generation
  .github/workflows/task-build.yml
  .nvmrc
Due: none

apply consistent config.json generation
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

chore(main): release 3.2.0
  CHANGELOG.md
  package.json
Due: none

chore(main): release 3.2.0 (#530)
  CHANGELOG.md
  package.json
Due: none

fix(cicd): attach branch param to wrangler
  .github/workflows/cd.yml
Due: none

chore(cicd): attach branch param to wrangler (#531)
  .github/workflows/cd.yml
Due: none

fix(web): show version from root package.json
  apps/web/vite.config.ts
Due: none

fix(web): show version from root package.json (#533)
  apps/web/vite.config.ts
Due: none

chore(main): release 3.2.1
  CHANGELOG.md
  package.json
Due: none

chore(main): release 3.2.1 (#532)
  CHANGELOG.md
  package.json
Due: none

fix(web): update demo image
  README.md
  apps/web/index.html
  apps/web/public/media/demo.png
  apps/web/public/media/demo.webp
  apps/web/src/app/pages/Home.tsx
Due: web

fix(web): toasters not auto dimissing
  apps/web/public/env/config.json
  apps/web/src/app/hooks/api/useApiEffectHandler.ts
Due: web

update assets screen cap
  README.md
  docs/media/demo-anim.webm
  docs/media/demo-anim.webp
  docs/media/demo.png
  docs/media/demo.webp
Due: none

update video
  README.md
  docs/media/demo-anim.thumbnail.png
  docs/media/demo-anim.webp
  docs/media/demo.anim.webm
  docs/media/demo.png
  docs/media/demo.webp
Due: none

fix(docs): update links and assets (#534)
  README.md
  apps/web/index.html
  apps/web/public/env/config.json
  apps/web/public/media/demo.png
  apps/web/public/media/demo.webp
  apps/web/src/app/hooks/api/useApiEffectHandler.ts
  apps/web/src/app/pages/Home.tsx
  docs/media/demo-anim.thumbnail.png
  docs/media/demo-anim.webm
  docs/media/demo-anim.webp
  docs/media/demo.anim.webm
  docs/media/demo.png
  docs/media/demo.webp
Due: web

replace video with animated image
  README.md
  docs/media/demo-anim.thumbnail.png
  docs/media/demo-anim.webm
  docs/media/demo-anim.webp
  docs/media/demo.anim.webm
Due: none

replace video with animated image
  docs/media/demo-anim.webm
  docs/media/demo-anim.webp
  docs/media/demo.anim.webm
Due: none

revert config.json for local
  apps/web/public/env/config.json
Due: none

remove config.json from dev build
  apps/web/package.json
Due: none

fix(docs): update image assets (#536)
  apps/web/package.json
  apps/web/public/env/config.json
  docs/media/demo-anim.webm
  docs/media/demo-anim.webp
  docs/media/demo.anim.webm
Due: none

fix link to anim
  README.md
Due: none

fix(docs): bad link to anim (#537)
  README.md
Due: none

fix(web): search list selection rendering
  apps/server/src/db/IndexedDB.ts
  apps/web/src/app/components/screen/form/ScreenFormDrawer.tsx
  apps/web/src/app/components/screen/screenselector/ScreenSelector.tsx
  packages/lib-api/src/generated/server/models/searchItem.ts
  packages/spec-server/src/schemas/SearchItem.yml
Due: web, server, lib-api

simplify item selection in screen list
  apps/web/src/app/components/screen/form/ScreenFormDrawer.tsx
  apps/web/src/app/components/screen/screenselector/ScreenSelector.tsx
Due: web

reset selector search on close
  apps/web/src/app/components/screen/screenselector/ScreenSelector.tsx
Due: web

add listing of files in dist folder
  .github/workflows/task-build.yml
Due: none

use correct path to dist folder
  .github/workflows/task-build.yml
Due: none

implement build fix for all workflows
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/task-build.yml
Due: none

fix(cicd): deployments to cloudflare missing config.json (#539)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/task-build.yml
  apps/server/src/db/IndexedDB.ts
  apps/web/src/app/components/screen/form/ScreenFormDrawer.tsx
  apps/web/src/app/components/screen/screenselector/ScreenSelector.tsx
  packages/lib-api/src/generated/server/models/searchItem.ts
  packages/spec-server/src/schemas/SearchItem.yml
Due: web, server, lib-api

fix(web): screen selector search result selection (#538)
  .github/workflows/task-build.yml
Due: none

chore(cicd): revert change from main
  .github/workflows/task-build.yml
Due: none

chore(cicd): migrate to googleapis/release-please-action@v4
  .github/workflows/ci.yml
Due: none

chore(cicd): migrate from google-github-actions/release-please-action@v4 to googleapis/release-please-action@v4 (#540)
  .github/workflows/ci.yml
  .github/workflows/task-build.yml
Due: none

fix(cicd): List build files
  .github/workflows/ci.yml
Due: none

fix(cicd): migrate release please (#541)
  .github/workflows/ci.yml
Due: none
