Repository nader-eloshaiker/screen-geometry-app: changes, and which Codecov flags are due for each by the changed paths.
All: web, server, lib-api, lib-ui

codecov.yaml:

coverage:
  status:
    project:
      default:
        informational: true
      web:
        informational: true
        flags:
          - web
      server:
        informational: true
        flags:
          - server
      lib-api:
        informational: true
        flags:
          - lib-api
      lib-ui:
        informational: true
        flags:
          - lib-ui
    patch:
      default:
        informational: true

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: yes
  require_head: yes
  branches: []

flags:
  web:
    paths: #note, accepts globs, not regexes
      - apps/web/src/**/*.{ts,tsx}
    carryforward: false
  server:
    paths: #note, accepts globs, not regexes
      - apps/server/src/**/*.{ts,tsx}
    carryforward: true
  lib-api:
    paths: #note, accepts globs, not regexes
      - packages/lib-api/src/**/*.{ts,tsx}
    carryforward: true
  lib-ui:
    paths: #note, accepts globs, not regexes
      - packages/lib-ui/src/**/*.{ts,tsx}
    carryforward: true

fix deployment path
  .github/workflows/task-build.yml
Due: none

update deloyment action to cloudflare
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/task-build.yml
Due: none

print deployment url
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

print deployment url and alias url
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

feat(devops): migrate to cloudflare wrangler and test in build task (#520)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .npmrc
Due: none

fix router generator location
  apps/web/.prettierignore
  apps/web/eslint.config.mjs
  apps/web/src/app/hooks/router/AppRouterProvider.tsx
  apps/web/src/app/routes/generated/routeTree.gen.ts
  apps/web/tsr.config.json
  apps/web/vite.config.ts
Due: web

move routetree out of routes folder
  apps/web/.prettierignore
  apps/web/eslint.config.mjs
  apps/web/package.json
  apps/web/src/app/hooks/router/AppRouterProvider.tsx
  apps/web/src/app/routetree/routeTree.gen.ts
  apps/web/tsr.config.json
  apps/web/vite.config.ts
Due: web

move routetree out of routes folder
  apps/server/eslint.config.js
  packages/lib-api/eslint.config.js
  packages/lib-style/eslint.config.js
  packages/lib-ui/eslint.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

deploy main to develop env of cloudflare
  .github/workflows/ci.yml
  README.md
Due: none

simplified readme content
  README.md
Due: none

ignore routree from coverage
  apps/web/vite.config.ts
Due: none

fix(app): tanstack router generator location (#521)
  .github/workflows/ci.yml
  README.md
  apps/server/eslint.config.js
  apps/web/.prettierignore
  apps/web/eslint.config.mjs
  apps/web/package.json
  apps/web/src/app/hooks/router/AppRouterProvider.tsx
  apps/web/src/app/routetree/routeTree.gen.ts
  apps/web/tsr.config.json
  apps/web/vite.config.ts
  packages/lib-api/eslint.config.js
  packages/lib-style/eslint.config.js
  packages/lib-ui/eslint.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: web

chore(main): release 3.1.0
  CHANGELOG.md
  package.json
Due: none

adjust server schema screen input validator
  apps/server/package.json
  apps/web/package.json
  apps/web/src/app/components/screen/form/ScreenForm.tsx
  apps/web/src/app/components/screen/form/ScreenFormSchema.ts
  package.json
  packages/lib-api/package.json
  packages/lib-api/src/generated/models/screenInput.ts
  packages/lib-style/.lintstagedrc.json
  packages/lib-style/package.json
  packages/lib-ui/package.json
  packages/spec-server/src/schemas/ScreenInput.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: web, lib-api

linting
  packages/lib-style/.prettierrc
Due: none

feat(app): update spec (#522)
  apps/server/package.json
  apps/web/package.json
  apps/web/src/app/components/screen/form/ScreenForm.tsx
  apps/web/src/app/components/screen/form/ScreenFormSchema.ts
  package.json
  packages/lib-api/package.json
  packages/lib-api/src/generated/models/screenInput.ts
  packages/lib-style/.lintstagedrc.json
  packages/lib-style/.prettierrc
  packages/lib-style/package.json
  packages/lib-ui/package.json
  packages/spec-server/src/schemas/ScreenInput.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: web, lib-api

feat(cicd): add pr linting
  .github/workflows/validation-pr.yaml
Due: none

feat(cicd): add pr linting switch to pull_request_target:
  .github/workflows/validation-pr.yaml
Due: none

feat(cicd): add pr linting (#523)
  .github/workflows/validation-pr.yaml
Due: none

feat(cicd): deploy all pushes on branch
  .github/workflows/ci.yml
  .github/workflows/task-build.yml
Due: none

feat(cicd): revert branch tag for cloudflare deployments
  .github/workflows/ci.yml
Due: none

feat(cicd): rename validation workflow
  .github/workflows/validation-app.yml
Due: none

feat(cicd): update validation badges in readme
  README.md
Due: none

feat(cicd): deploy all pushes on branch (#524)
  .github/workflows/task-build.yml
  .github/workflows/validation-app.yml
  README.md
Due: none

fix ScreenFormDrawer assertions for create api call
  apps/web/src/app/components/screen/form/ScreenFormDrawer.test.tsx
Due: web

remove dangerouslyIgnoreUnhandledErrors config
  apps/web/vite.config.ts
Due: none

fix(web): fix test inconsistent failing (#525)
  apps/web/src/app/components/screen/form/ScreenFormDrawer.test.tsx
  apps/web/vite.config.ts
Due: web

add package version and build date to meta data
  apps/web/src/index.tsx
  apps/web/src/types/vite-env.d.ts
  apps/web/vite.config.ts
Due: web

chore(main): release 3.1.0 (#509)
  CHANGELOG.md
  package.json
Due: none

add asset spec support to app
  apps/web/public/env/config.json
  packages/lib-api/orval.asset.config.ts
  packages/lib-api/package.json
  packages/lib-api/src/axios/apiClient.ts
  packages/lib-api/src/generated/asset/models/config.ts
  packages/lib-api/src/generated/asset/models/configGoogleAnalytics.ts
  packages/lib-api/src/generated/asset/models/configHost.ts
  packages/lib-api/src/generated/asset/models/configServer.ts
  packages/lib-api/src/generated/asset/models/index.ts
  packages/lib-api/src/generated/asset/services/configuration/configuration.msw.ts
  packages/lib-api/src/generated/asset/services/configuration/configuration.ts
  packages/lib-api/src/generated/index.ts
  packages/lib-api/src/generated/server/models/errorResponse.ts
  packages/lib-api/src/generated/server/models/errorResponseError.ts
  packages/lib-api/src/generated/server/models/errorResponseErrorDetails.ts
  packages/lib-api/src/generated/server/models/errorResponseErrorDetailsMetadata.ts
  packages/lib-api/src/generated/server/models/getSearchOrder.ts
  packages/lib-api/src/generated/server/models/getSearchParams.ts
  packages/lib-api/src/generated/server/models/getSearchSort.ts
  packages/lib-api/src/generated/server/models/index.ts
  packages/lib-api/src/generated/server/models/screenColor.ts
  packages/lib-api/src/generated/server/models/screenData.ts
  packages/lib-api/src/generated/server/models/screenIdResponse.ts
  packages/lib-api/src/generated/server/models/screenInput.ts
  packages/lib-api/src/generated/server/models/screenInputList.ts
  packages/lib-api/src/generated/server/models/screenItem.ts
  packages/lib-api/src/generated/server/models/screenItemResponse.ts
  packages/lib-api/src/generated/server/models/screenListResponse.ts
  packages/lib-api/src/generated/server/models/screenSpecs.ts
  packages/lib-api/src/generated/server/models/searchItem.ts
  packages/lib-api/src/generated/server/models/searchListResponse.ts
  packages/lib-api/src/generated/server/services/screen-list-service/screen-list-service.msw.ts
  packages/lib-api/src/generated/server/services/screen-list-service/screen-list-service.ts
  packages/lib-api/src/generated/server/services/screen-service/screen-service.msw.ts
  packages/lib-api/src/generated/server/services/screen-service/screen-service.ts
  packages/lib-api/src/generated/server/services/search-service/search-service.msw.ts
  packages/lib-api/src/generated/server/services/search-service/search-service.ts
  packages/spec-asset/src/examples/ConfigGetResponseExample.yml
  packages/spec-asset/src/index.yml
  packages/spec-asset/src/schemas/Config.yml
Due: lib-api

fix tests
  apps/web/src/app/components/envconfig/EnvironmentConfig.test.tsx
  apps/web/src/app/components/envconfig/EnvironmentConfig.tsx
  apps/web/src/app/components/screen/table/ScreenTable.test.tsx
  apps/web/src/configs/vitest.setup.ts
Due: web

fix tests
  packages/lib-ui/src/components/pageloader/PageLoader.tsx
  packages/spec-asset/src/examples/ConfigGetResponseExample.yml
Due: lib-ui

move session env to route guard in screens route
  apps/web/src/app/App.tsx
  apps/web/src/app/components/envconfig/EnvironmentConfig.tsx
  apps/web/src/app/pages/Screens.tsx
  apps/web/src/app/routes/screens.lazy.tsx
  apps/web/src/app/routes/screens/index.lazy.tsx
  apps/web/src/app/routetree/routeTree.gen.ts
  packages/lib-ui/src/assets/SpinnerIcon.tsx
Due: web, lib-ui

fix tests
  apps/web/src/app/components/envconfig/EnvironmentConfig.test.tsx
  apps/web/src/app/components/envsession/EnvironmentSession.tsx
  apps/web/src/app/components/header/Header.test.tsx
  apps/web/src/app/components/screen/table/ScreenTable.test.tsx
  packages/lib-api/src/generated/asset/services/configuration/configuration.msw.ts
  packages/spec-asset/src/examples/ConfigGetResponseExample.yml
  packages/spec-asset/src/index.yml
  packages/spec-server/src/index.yml
Due: web, lib-api

fix tests
  apps/web/src/app/components/screen/form/ScreenFormDrawer.test.tsx
Due: web

isolate pageloader hooks from component
  apps/web/src/app/App.tsx
  apps/web/src/app/components/envconfig/EnvironmentConfig.test.tsx
  apps/web/src/app/components/envconfig/EnvironmentConfig.tsx
  apps/web/src/app/components/envsession/EnvironmentSession.tsx
  apps/web/src/app/components/screen/table/ScreenTable.test.tsx
  apps/web/src/app/pages/Screens.tsx
  apps/web/src/app/routes/screens.lazy.tsx
  packages/lib-ui/package.json
  packages/lib-ui/src/components/pageloader/PageLoader.tsx
  packages/lib-ui/src/components/pageloader/index.ts
  packages/lib-ui/src/hooks/pageloader/PageLoaderContext.tsx
  packages/lib-ui/src/hooks/pageloader/PageLoaderProvider.tsx
  packages/lib-ui/src/hooks/pageloader/PageLoaderReducer.ts
  packages/lib-ui/src/hooks/pageloader/index.ts
  packages/lib-ui/src/hooks/pageloader/usePageLoader.ts
Due: web, lib-ui
