Repository nader-eloshaiker/screen-geometry-app: changes, and which Codecov flags are due for each by the changed paths.
All: web, server, lib-api, lib-ui

fix tests
  apps/server/eslint.config.js
  apps/web/eslint.config.js
  apps/web/src/app/components/screen/form/ScreenFormDrawer.test.tsx
  apps/web/src/app/hooks/config/EnvConfig.test.tsx
  packages/lib-api/eslint.config.js
  packages/lib-style/.prettierrc
  packages/lib-style/eslint.config.js
  packages/lib-ui/eslint.config.js
  pnpm-lock.yaml
Due: web

chore(app): add commit linting
  .husky/commit-msg
  .lintstagedrc.json
  apps/web/src/app/components/language/LanguageSwitcher.tsx
  commitlint.config.ts
  package.json
  packages/lib-ui/src/components/input/InputVariants.tsx
  packages/lib-ui/src/components/select/SelectVariants.tsx
  pnpm-lock.yaml
Due: web, lib-ui

chore(cicd): add app to PR lint
  .github/workflows/validation-pr.yaml
Due: none

chore(web): fix tests
  apps/web/src/app/components/screen/form/ScreenFormDrawer.test.tsx
Due: web

chore(cicd): fix chromatic
  .github/workflows/task-test-designsystem.yml
Due: none

feat(web): disable over and focus on active nav link
  packages/lib-ui/src/components/navigationlink/NavigationLink.tsx
  packages/lib-ui/src/components/navigationlink/NavigationLinkVariants.tsx
Due: lib-ui

chore(main): release 4.1.0
  CHANGELOG.md
  package.json
Due: none

chore(main): release 4.1.0 (#553)
  CHANGELOG.md
  package.json
Due: none

fix(ops): update badge urls for codecov
  README.md
Due: none

fix(ops): fix codecov badge urls (#554)
  README.md
Due: none

chore(main): release 4.1.1
  CHANGELOG.md
  package.json
Due: none

chore(ops): update readme
  README.md
Due: none

chore(ops): update readme (#556)
  README.md
Due: none

chore(docs): pin cicd builds bade to main
  README.md
Due: none

chore(ops): upgrade to actions/checkout@v5
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/task-build.yml
  .github/workflows/task-lint.yml
  .github/workflows/task-test-component.yml
  .github/workflows/task-test-designsystem.yml
  .github/workflows/task-test-e2e.yml
  .github/workflows/task-test-unit.yml
  .github/workflows/validation-app.yml
Due: none

chore(ops): upgrade to amannn/action-semantic-pull-request@v6
  .github/workflows/validation-pr.yaml
Due: none

chore(ops): pin codecov badge to main and update actions (#565)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/task-build.yml
  .github/workflows/task-lint.yml
  .github/workflows/task-test-component.yml
  .github/workflows/task-test-designsystem.yml
  .github/workflows/task-test-e2e.yml
  .github/workflows/task-test-unit.yml
  .github/workflows/validation-app.yml
  .github/workflows/validation-pr.yaml
  README.md
Due: none

chore(deps): update tailwindcss to 4.1.12
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(deps): update tanstack router to 1.131.28
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(deps): update actions/upload-pages-artifact@v4
  .github/workflows/ci.yml
Due: none

build(deps): update dependencies (#566)
  .github/workflows/ci.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(deps): update tw-animate-css: ^1.3.7
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

build(deps): update tw-animate-css to 1.3.7 (#567)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(main): release 4.1.1 (#555)
  CHANGELOG.md
  package.json
Due: none

fix(web): unit tests did not await when using waitFor
  apps/web/src/app/components/screen/form/ScreenFormDrawer.test.tsx
Due: web

fix(tests): screen form drawer tests
  apps/web/package.json
  apps/web/src/app/components/screen/form/ScreenForm.tsx
  apps/web/src/app/components/screen/form/ScreenFormDrawer.test.tsx
Due: web

Path conditions:
  web: any of: apps/web/src/**/*.{ts,tsx}
  server: any of: apps/server/src/**/*.{ts,tsx}
  lib-api: any of: packages/lib-api/src/**/*.{ts,tsx}
  lib-ui: any of: packages/lib-ui/src/**/*.{ts,tsx}
